<div class="row bg-white rounded p-4" style="margin-top: 10px; margin-right:0px; margin-left:0px; border:1px solid #c8ced3;">
  <img src="../assets/img/website-head.png" style="height:80px; margin-top:-7px" /><h1 class="display-4 my-auto ml-3">Configure APIs</h1>
</div>

<div class="row">
  <div class="col-md-12">
    <div class="panel-body">
      <!--<div class="table-responsive">-->
        <table class="table table-hover mt-4" *ngIf="apiKeysList$.length !== 0; else no_content">
          <thead>
          <tr class="border" style="background: #ddd; border: 1px solid #999">
            <th scope="col" style="width: 10%">Service</th>
            <th scope="col" style="width: 70%">Token</th>
            <th scope="col" style="width: 10%"></th>
            <th scope="col" style="width: 10%"></th>
          </tr>
          </thead>
          <tbody *ngFor="let key of apiKeysList$">
          <tr class="border" style="background:#eee">
            <td>{{serviceName(key.service)}}</td>
            <td>{{key.api_key}}</td>
            <td>

            </td>
            <td>
              <button type="button" class="btn btn-primary mr-4">Update</button>
              <button type="button" class="btn btn-danger" (click)="deleteService(key.service)">Delete</button>
            </td>
          </tr>
          </tbody>
        </table>
      <!--</div>-->
    </div>
  </div>
</div>


<ng-template #no_content>
  <h5>No access key added. Insert a new one!</h5>
</ng-template>
<button type="button" class="btn btn-success" [routerLink]="['insert']">Add new access token</button>


