<div id="sidebar-container" class="sidebar-expanded d-none d-lg-block col-1-5" *ngIf="isUserLoggedIn">
  <ul class="list-group sticky-top sticky-offset" style="margin-top:13px">
    <!-- Separator with title -->
    <li class="list-group-item sidebar-separator-title d-flex align-items-center menu-collapsed">
      <small class="font-weight-bold text-uppercase">Contenuti</small>
    </li>
    <!-- /END Separator -->
    <!-- Menu with submenu -->
    <div data-toggle="collapse" aria-expanded="false"
       class="list-group-item list-group-item-action flex-column align-items-start" style="background-color: #eeeeee;">
      <div class="d-flex w-100 justify-content-start align-items-center">
        <span class="fas fa-tachometer-alt mr-3"></span>
        <span class="menu-collapsed text-black">Le mie dashboard</span>
      </div>
    </div>
    <!-- Submenu content -->
    <div id="submenu1" class="sidebar-submenu">
      <a [routerLink]="['/dashboard/google']" class="list-group-item list-group-item-action">
        <span class="menu-collapsed">Sito web</span>
      </a>
      <a [routerLink]="['/dashboard/facebook']" class="list-group-item list-group-item-action">
        <span class="menu-collapsed">Facebook</span>
      </a>
      <a [routerLink]="['/dashboard/instagram']" class="list-group-item list-group-item-action">
        <span class="menu-collapsed">Instagram</span>
      </a>
      <a [routerLink]="['/dashboard/custom']"  class="list-group-item list-group-item-action">
        <span class="menu-collapsed">Personalizzata</span>
      </a>
    </div>
    <a href="#submenu2" data-toggle="collapse" aria-expanded="false"
       class="list-group-item list-group-item-action flex-column align-items-start">
      <div class="d-flex w-100 justify-content-start align-items-center">
        <span class="fa fa-user fa-fw mr-3"></span>
        <span class="menu-collapsed">Preferenze</span>
        <span class="fas fa-plus ml-auto"></span>
      </div>
    </a>
    <!-- Submenu content -->
    <div id="submenu2" class="collapse sidebar-submenu">
<!--      <a class="list-group-item list-group-item-action">
        <span class="menu-collapsed">Account settings</span>
      </a>-->
      <a [routerLink]="['/preferences/api-keys']" class="list-group-item list-group-item-action">
        <span class="menu-collapsed">Configura sorgenti dati</span>
      </a>
    </div>
    <a class="list-group-item list-group-item-action"> <!-- [routerLink]="['/report']" -->
      <div class="d-flex w-100 justify-content-start align-items-center" style="color: #777">
        <span class="fa fa-tasks fa-fw mr-3"></span>
        <span class="menu-collapsed">Report</span>
      </div>
    </a>
    <!-- Separator with title -->
    <li class="list-group-item sidebar-separator-title text-white d-flex align-items-center menu-collapsed">
      <small class="font-weight-bold text-uppercase">Strumenti</small>
    </li>
    <!-- /END Separator -->
    <a class="list-group-item list-group-item-action" [routerLink]="['/calendar']">
      <div class="d-flex w-100 justify-content-start align-items-center">
        <span class="fas fa-calendar-alt fa-fw mr-3"></span>
        <span class="menu-collapsed">Calendario</span>
      </div>
    </a>
    <a class="list-group-item list-group-item-action">
      <div class="d-flex w-100 justify-content-start align-items-center" style="color: #777">
        <span class="fas fa-envelope fa-fw mr-3"></span>
        <span class="menu-collapsed">Notifiche</span>
      </div>
    </a>

    <a href="#submenu3" data-toggle="collapse" aria-expanded="false"
       class="list-group-item list-group-item-action flex-column align-items-start">
      <div class="d-flex w-100 justify-content-start align-items-center">
        <span class="fa fa-question fa-fw mr-3"></span>
        <span class="menu-collapsed">Guide d'uso</span>
        <span class="fas fa-plus ml-auto"></span>
      </div>
    </a>
    <!-- Submenu content -->
    <div id="submenu3" class="collapse sidebar-submenu">
      <a [routerLink]="['/tutorial/google']" class="list-group-item list-group-item-action">
        <span class="menu-collapsed">Tutorial Analytics</span>
      </a>
      <a [routerLink]="['/tutorial/facebook']" class="list-group-item list-group-item-action">
        <span class="menu-collapsed">Tutorial Facebook</span>
      </a>
      <a [routerLink]="['/tutorial/instagram']" class="list-group-item list-group-item-action">
        <span class="menu-collapsed">Tutorial Instagram</span>
      </a>
    </div>
  </ul>
  <!-- List Group END-->
  <!--</div>-->
</div>
