<!--<div class="container-fluid mb-0">-->
<div class="row">
  <div class="col-12">
    <div class="card">
      <div class="card-body ">
        <h1 class="text-center mb-0 mt-3">{{ 'PROFILO.AGG' | translate }}</h1>
      </div>
      <div class="p-4" *ngIf="user !== null">
        <form [formGroup]="updateRegistration" (ngSubmit)="onSubmit()">

          <div *ngIf="this.selectedUser === 1"> <!-- If the user is a company -->
            <div class="form-row">
              <div class="input-group mb-3 col-md-6">
                <div class="d-block w-100">
                  <label for="company_name" class="label-tiny">{{ 'PROFILO.NOME_AZ' | translate }}</label>
                </div>
                <div class="input-group-prepend">
                  <span class="input-group-text"><i class="icon-briefcase"></i></span>
                </div>
                <input type="text" formControlName="company_name" class="form-control"
                       placeholder="Nome azienda" id="company_name" maxlength="100"
                       [ngClass]="{ 'is-invalid': submitted && f.company_name.errors }"/>

                <div *ngIf="this.submitted && f.company_name.errors" class="invalid-feedback">
                  <div *ngIf="f.company_name.errors.required">{{ 'PROFILO.NOME_AZ_O' | translate }}</div>
                </div>
              </div>
              <div class="input-group mb-3 col-md-6">
                <div class="d-block w-100">
                  <label for="vat_number" class="label-tiny">{{ 'PROFILO.PART_IVA' | translate }}</label>
                </div>
                <div class="input-group-prepend">
                  <span class="input-group-text"><i class="icon-chart"></i></span>
                </div>
                <input type="text" formControlName="vat_number" class="form-control"
                       placeholder="Partita Iva" id="vat_number" maxlength="11"
                       [ngClass]="{ 'is-invalid': submitted && f.vat_number.errors }" required/>
                <div *ngIf="this.submitted && f.vat_number.errors" class="invalid-feedback">
                  <div *ngIf="f.vat_number.errors.required">{{ 'PROFILO.PART_IVA_O' | translate }}</div>
                </div>
              </div>
            </div>
          </div> <!-- Vat Number and Company Name only for companies users -->
          <div class="form-row">
            <div class="input-group mb-5 col-md-6">
              <div class="d-block w-100">
                <label for="first_name" class="label-tiny">{{ 'PROFILO.NOME' | translate }}</label>
              </div>
              <div class="input-group-prepend">
                <span class="input-group-text"><i class="icon-user"></i></span>
              </div>
              <input type="text" formControlName="first_name" class="form-control"
                     placeholder="Nome" id="first_name" maxlength="40"
                     [ngClass]="{ 'is-invalid': submitted && f.first_name.errors }"/>

              <div *ngIf="submitted && f.first_name.errors" class="invalid-feedback">
                <div *ngIf="f.first_name.errors.required">{{ 'PROFILO.NOME_O' | translate }}</div>
                <div *ngIf="f.first_name.errors.maxlength">{{ 'PROFILO.NOME_ALERT' | translate }}</div>
              </div>
            </div>
            <div class="input-group mb-5 ml-auto col-md-6">
              <div class="d-block w-100">
                <label for="last_name" class="label-tiny">{{ 'PROFILO.COGN' | translate }}</label>
              </div>
              <div class="input-group-prepend">
                <span class="input-group-text"><i class="icon-user"></i></span>
              </div>
              <input type="text" formControlName="last_name" class="form-control"
                     placeholder="Cognome" id="last_name" maxlength="40"
                     [ngClass]="{ 'is-invalid': submitted && f.last_name.errors }"/>

              <div *ngIf="this.submitted && f.last_name.errors" class="invalid-feedback">
                <div *ngIf="f.last_name.errors.required">{{ 'PROFILO.COGN_O' | translate }}</div>
                <div *ngIf="f.last_name.errors.maxlength">{{ 'PROFILO.COGN_ALERT' | translate }}</div>
              </div>
            </div>

          </div> <!-- First and last name -->
          <div class="form-row">
            <div class="input-group mb-5 col-md-6">
              <div class="d-block w-100">
                <label for="birth_place" class="label-tiny">{{ 'PROFILO.LUOGO' | translate }}</label>
              </div>
              <div class="input-group-prepend">
                <span class="input-group-text"><i class="icon-location-pin"></i></span>
              </div>
              <input type="text" formControlName="birth_place" class="form-control" placeholder="Luogo di Nascita"
                     id="birth_place"
                     [ngClass]="{ 'is-invalid': submitted && f.birth_place.errors }"/>

              <div *ngIf="submitted && f.birth_place.errors" class="invalid-feedback">
                <div *ngIf="f.birth_place.errors.required">{{ 'PROFILO.LUOGO_O' | translate }}</div>
                <div *ngIf="f.birth_place.errors.maxlength">{{ 'PROFILO.LUOGO_ALERT' | translate }}</div>
              </div>
            </div>
            <div class="input-group mb-5 col-md-6">
              <div class="d-block w-100">
                <label for="birth_date" class="label-tiny">{{ 'PROFILO.DATA_NASCITA' | translate }}</label>
              </div>
              <div class="input-group-prepend">
                <span class="input-group-text"><i class="icon-calendar"></i></span>
              </div>
              <input type="date" formControlName="birth_date" class="form-control" placeholder="Data di Nascita"
                     id="birth_date"
                     [ngClass]="{ 'is-invalid': submitted && f.birth_date.errors }"/>

              <div *ngIf="submitted && f.birth_date.errors" class="invalid-feedback">
                <div *ngIf="f.birth_date.errors.required">{{ 'PROFILO.DATA_NASCITA_O' | translate }}</div>
              </div>
            </div>
          </div> <!-- Birth place and birth date -->
          <div class="form-row">
            <div class="input-group mb-5 col-md-6">
              <div class="d-block w-100">
                <label for="fiscal_code" class="label-tiny">{{ 'PROFILO.COD_F' | translate }}</label>
              </div>
              <div class="input-group-prepend">
                <span class="input-group-text"><i class="fas fa-barcode"></i></span>
              </div>
              <input type="text" formControlName="fiscal_code" class="form-control" placeholder="Codice fiscale"
                     id="fiscal_code"
                     [ngClass]="{ 'is-invalid': submitted && f.fiscal_code.errors }"/>

              <div *ngIf="submitted && f.fiscal_code.errors" class="invalid-feedback">
                <div *ngIf="f.fiscal_code.errors.required">{{ 'PROFILO.COD_F_O' | translate }}</div>
                <div *ngIf="f.fiscal_code.errors.maxlength">{{ 'PROFILO.COD_F_ALERT_1' | translate }}</div>
                <div *ngIf="f.fiscal_code.errors.InvalidFiscalCode">{{ 'PROFILO.COD_F_ALERT_2' | translate }}</div>
              </div>

            </div>
          </div> <!-- Fiscal code and Paypal mail -->
          <div class="form-row">
            <div class="input-group mb-5 col-md-6">
              <div class="d-block w-100">
                <label for="address" class="label-tiny">{{ 'PROFILO.INDIRIZZO' | translate }}</label>
              </div>
              <div class="input-group-prepend">
                <span class="input-group-text"><i class="fas fa-map-marker"></i></span>
              </div>
              <input type="text" formControlName="address" class="form-control" placeholder="Indirizzo" id="address"
                     [ngClass]="{ 'is-invalid': submitted && f.address.errors }"/>

              <div *ngIf="submitted && f.address.errors" class="invalid-feedback">
                <div *ngIf="f.address.errors.required">{{ 'PROFILO.INDIRIZZO_O' | translate }}</div>
                <div *ngIf="f.address.errors.maxlength">{{ 'PROFILO.INDIRIZZO_ALERT' | translate }}</div>
              </div>
            </div>
            <div class="input-group mb-5 col-md-6">
              <div class="d-block w-100">
                <label for="city" class="label-tiny">{{ 'PROFILO.CITTA' | translate }}</label>
              </div>
              <div class="input-group-prepend">
                <span class="input-group-text"><i class="fas fa-globe"></i></span>
              </div>
              <input type="text" formControlName="city" class="form-control" placeholder="Città" id="city"
                     [ngClass]="{ 'is-invalid': submitted && f.city.errors }"/>

              <div *ngIf="submitted && f.city.errors" class="invalid-feedback">
                <div *ngIf="f.city.errors.required">{{ 'PROFILO.CITTA_O' | translate }}</div>
                <div *ngIf="f.city.errors.maxlength">{{ 'PROFILO.CITTA_ALERT' | translate }}</div>
              </div>
            </div>
          </div> <!-- Address and Residence City -->
          <div class="form-row">
            <div class="input-group mb-5 col-md-6">
              <div class="d-block w-100">
                <label for="province" class="label-tiny">{{ 'PROFILO.PROVINCIA' | translate }}</label>
              </div>
              <div class="input-group-prepend">
                <span class="input-group-text"><i class="fas fa-map"></i></span>
              </div>
              <input type="text" formControlName="province" class="form-control" placeholder="Provincia" id="province"
                     [ngClass]="{ 'is-invalid': submitted && f.province.errors }" maxlength="2"/>

              <div *ngIf="submitted && f.province.errors" class="invalid-feedback">
                <div *ngIf="f.province.errors.required">{{ 'PROFILO.PROVINCIA_O' | translate }}</div>
                <div *ngIf="f.province.errors.maxlength">{{ 'PROFILO.PROVINCIA_ALERT' | translate }}</div>
              </div>
            </div>
            <div class="input-group mb-5 col-md-6">
              <div class="d-block w-100">
                <label for="zip_code" class="label-tiny">{{ 'PROFILO.CAP' | translate }}</label>
              </div>
              <div class="input-group-prepend">
                <span class="input-group-text"><i class="fas fa-code"></i></span>
              </div>
              <input type="text" formControlName="zip" class="form-control" placeholder="Cap" id="zip_code"
                     [ngClass]="{ 'is-invalid': submitted && f.zip.errors }" maxlength="5"/>

              <div *ngIf="submitted && f.zip.errors" class="invalid-feedback">
                <div *ngIf="f.zip.errors.required">{{ 'PROFILO.CAP_O' | translate }}</div>
                <div *ngIf="f.zip.errors.maxlength">{{ 'PROFILO.CAP_ALERT' | translate }}</div>
              </div>
            </div>
          </div> <!-- Province and Zip Code-->
          <div class="form-row">
            <div class="input-group mb-5 col-md-6">
              <div class="d-block w-100">
                <label for="password" class="label-tiny">{{ 'PROFILO.PASSWORD' | translate }}</label>
              </div>
              <div class="input-group-prepend">
                <span class="input-group-text"><i class="icon-lock"></i></span>
              </div>
              <input type="password" formControlName="password" class="form-control" placeholder="Password"
                     [ngClass]="{ 'is-invalid': submitted && f.password.errors }" id="password"/>

              <div *ngIf="submitted && f.password.errors" class="invalid-feedback">
                <div *ngIf="f.password.errors.required">{{ 'PROFILO.PASSWORD_O' | translate }}</div>
                <div *ngIf="f.password.errors.minlength">{{ 'PROFILO.PASSWORD_ALERT' | translate }}</div>
              </div>
            </div>
            <div class="input-group mb-5 col-md-6">
              <div class="d-block w-100">
                <label for="r_password" class="label-tiny">{{ 'PROFILO.PASSWORD_CONF' | translate }}</label>
              </div>
              <div class="input-group-prepend">
                <span class="input-group-text"><i class="icon-lock"></i></span>
              </div>
              <input type="password" formControlName="r_password" class="form-control" placeholder="Conferma Password"
                     id="r_password">
            </div>
            <div class="alert alert-danger col-md-12"
                 *ngIf="submitted && f.r_password.errors?.MatchPassword">Password non valida
            </div>
            <button class="btn btn-success btn-lg" style="margin: 0 auto;">{{ 'PROFILO.SALVA_DATI' | translate }}</button>
          </div> <!-- Password and repeated password -->
        </form>
      </div>
    </div>
  </div>
</div>
<!--</div>-->

<ng-template #updateInfo>
  <div class="modal-header">
    <h4 class="modal-title pull-left">{{ 'PROFILO.UPDATE_CONF' | translate }}</h4>
    <button type="button" class="close pull-right" aria-label="Close" (click)="closeModal()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>

  <div class="modal-body">
    {{ 'PROFILO.UPDATE_DOM' | translate }}
  </div>

  <div class="modal-footer">
    <button type="button" class="btn btn-danger" (click)="closeModal()">{{ 'PROFILO.NO' | translate }}</button>
    <button type="button" class="btn btn-success" (click)="updateUser()">{{ 'PROFILO.SI' | translate }}</button>
  </div>
</ng-template>
