<div class="container-fluid mb-0">
  <div class="row">
    <div class="col-lg-12 col-xl-9">
      <div class="card">
        <div class="card-body p-4 b-b-1" style="background:#e0e0e0">
          <img src="assets/img/avatars/7.jpg" alt="Add new coupon" style="width:50px; float:left; margin-right:30px"/>
          <h6 class="display-4" style="float:left; font-size:30pt;">Aggiorna le informazioni personali</h6>
        </div>
        <div class="p-4" *ngIf="user !== null">
          <form [formGroup]="updateRegistration" (ngSubmit)="onSubmit()">

            <div *ngIf="this.selectedUser === 0 || this.selectedUser === 1"> <!-- If the user is admin or producer -->
              <div class="form-row">
                <div class="input-group mb-3 col-md-6">
                  <div class="d-block w-100">
                    <label for="company_name" class="label-tiny">Nome azienda</label>
                  </div>
                  <div class="input-group-prepend">
                    <span class="input-group-text"><i class="icon-briefcase"></i></span>
                  </div>
                  <input type="text" formControlName="company_name" class="form-control"
                         placeholder="Nome azienda" id="company_name" maxlength="100"
                         [ngClass]="{ 'is-invalid': submitted && f.company_name.errors }"/>

                  <div *ngIf="this.submitted && f.company_name.errors" class="invalid-feedback">
                    <div *ngIf="f.company_name.errors.required">Nome azienda obbligatoria</div>
                  </div>
                </div>
                <div class="input-group mb-3 col-md-6">
                  <div class="d-block w-100">
                    <label for="vat_number" class="label-tiny">Partita Iva</label>
                  </div>
                  <div class="input-group-prepend">
                    <span class="input-group-text"><i class="icon-chart"></i></span>
                  </div>
                  <input type="text" formControlName="vat_number" class="form-control"
                         placeholder="Partita Iva" id="vat_number" maxlength="11"
                         [ngClass]="{ 'is-invalid': submitted && f.vat_number.errors }" required/>

                  <div *ngIf="this.submitted && f.vat_number.errors" class="invalid-feedback">
                    <div *ngIf="f.vat_number.errors.required">Partita Iva obbligatoria</div>
                  </div>
                </div>
              </div>
            </div> <!-- Vat Number and Company Name only for companies users -->
            <div class="form-row">
              <div class="input-group mb-4 col-md-6">
                <div class="d-block w-100">
                  <label for="first_name" class="label-tiny">Nome</label>
                </div>
                <div class="input-group-prepend">
                  <span class="input-group-text"><i class="icon-user"></i></span>
                </div>
                <input type="text" formControlName="first_name" class="form-control"
                       placeholder="Nome" id="first_name" maxlength="40"
                       [ngClass]="{ 'is-invalid': submitted && f.first_name.errors }"/>

                <div *ngIf="submitted && f.first_name.errors" class="invalid-feedback">
                  <div *ngIf="f.first_name.errors.required">Nome obbligatorio</div>
                  <div *ngIf="f.first_name.errors.maxlength">Il nome deve essere lungo al massimo 40 caratteri</div>
                </div>
              </div>
              <div class="input-group mb-4 ml-auto col-md-6">
                <div class="d-block w-100">
                  <label for="last_name" class="label-tiny">Cognome</label>
                </div>
                <div class="input-group-prepend">
                  <span class="input-group-text"><i class="icon-user"></i></span>
                </div>
                <input type="text" formControlName="last_name" class="form-control"
                       placeholder="Cognome" id="last_name" maxlength="40"
                       [ngClass]="{ 'is-invalid': submitted && f.last_name.errors }"/>

                <div *ngIf="this.submitted && f.last_name.errors" class="invalid-feedback">
                  <div *ngIf="f.last_name.errors.required">Il cognome è obbligatorio</div>
                  <div *ngIf="f.last_name.errors.maxlength">Il cognome deve essere lungo al massimo 40 caratteri</div>
                </div>
              </div>

            </div> <!-- First and last name -->
            <div class="form-row">
              <div class="input-group mb-3 col-md-6">
                <div class="d-block w-100">
                  <label for="birth_place" class="label-tiny">Luogo di Nascita</label>
                </div>
                <div class="input-group-prepend">
                  <span class="input-group-text"><i class="icon-location-pin"></i></span>
                </div>
                <input type="text" formControlName="birth_place" class="form-control" placeholder="Luogo di Nascita" id="birth_place"
                       [ngClass]="{ 'is-invalid': submitted && f.birth_place.errors }"/>

                <div *ngIf="submitted && f.birth_place.errors" class="invalid-feedback">
                  <div *ngIf="f.birth_place.errors.required">Luogo di Nascita obbligatorio</div>
                  <div *ngIf="f.birth_place.errors.maxlength">Il luogo di nascita non deve superare 50 caratteri</div>
                </div>
              </div>
              <div class="input-group mb-3 col-md-6">
                <div class="d-block w-100">
                  <label for="birth_date" class="label-tiny">Data di Nascita</label>
                </div>
                <div class="input-group-prepend">
                  <span class="input-group-text"><i class="icon-calendar"></i></span>
                </div>
                <input type="date" formControlName="birth_date" class="form-control" placeholder="Data di Nascita" id="birth_date"
                       [ngClass]="{ 'is-invalid': submitted && f.birth_date.errors }"/>

                <div *ngIf="submitted && f.birth_date.errors" class="invalid-feedback">
                  <div *ngIf="f.birth_date.errors.required">Data di Nascita obbligatorio</div>
                </div>
              </div>
            </div> <!-- Birth place and birth date -->
            <div class="form-row">
              <div class="input-group mb-3 col-md-6">
                <div class="d-block w-100">
                  <label for="fiscal_code" class="label-tiny">Codice fiscale</label>
                </div>
                <div class="input-group-prepend">
                  <span class="input-group-text"><i class="fas fa-barcode"></i></span>
                </div>
                <input type="text" formControlName="fiscal_code" class="form-control" placeholder="Codice fiscale" id="fiscal_code"
                       [ngClass]="{ 'is-invalid': submitted && f.fiscal_code.errors }"/>

                <div *ngIf="submitted && f.fiscal_code.errors" class="invalid-feedback">
                  <div *ngIf="f.fiscal_code.errors.required">Codice fiscale obbligatorio</div>
                  <div *ngIf="f.fiscal_code.errors.maxlength">Il codice fiscale deve avere 16 caratteri</div>
                  <div *ngIf="f.fiscal_code.errors.InvalidFiscalCode">Codice fiscale non valido</div>
                </div>

              </div> <!-- Fiscal code -->
              <div class="input-group mb-3 col-md-6">
                <div class="d-block w-100">
                  <label for="paypal_email" class="label-tiny">Email Paypal</label>
                </div>
                <div class="input-group-prepend">
                  <span class="input-group-text"><i class="fab fa-paypal"></i></span>
                </div>
                <input type="text" formControlName="email_paypal" class="form-control" placeholder="Email Paypal" id="paypal_email"
                       [ngClass]="{ 'is-invalid': submitted && f.email_paypal.errors }"/>

                <div *ngIf="submitted && f.email_paypal.errors" class="invalid-feedback">
                  <!--<div *ngIf="f.email_paypal.errors.required">Email is required</div>-->
                  <div *ngIf="f.email_paypal.errors">Email non valida</div>
                </div>
              </div> <!-- Mail Paypal -->
            </div> <!-- Fiscal code and Paypal mail -->
            <div class="form-row">
              <div class="input-group mb-3 col-md-6">
                <div class="d-block w-100">
                  <label for="address" class="label-tiny">Indirizzo</label>
                </div>
                <div class="input-group-prepend">
                  <span class="input-group-text"><i class="fas fa-map-marker"></i></span>
                </div>
                <input type="text" formControlName="address" class="form-control" placeholder="Indirizzo" id="address"
                       [ngClass]="{ 'is-invalid': submitted && f.address.errors }"/>

                <div *ngIf="submitted && f.address.errors" class="invalid-feedback">
                  <div *ngIf="f.address.errors.required">Indirizzo obbligatorio</div>
                  <div *ngIf="f.address.errors.maxlength">L'indirizzo non deve superare i 50 caratteri</div>
                </div>
              </div>
              <div class="input-group mb-3 col-md-6">
                <div class="d-block w-100">
                  <label for="city" class="label-tiny">Città</label>
                </div>
                <div class="input-group-prepend">
                  <span class="input-group-text"><i class="fas fa-globe"></i></span>
                </div>
                <input type="text" formControlName="city" class="form-control" placeholder="Città" id="city"
                       [ngClass]="{ 'is-invalid': submitted && f.city.errors }"/>

                <div *ngIf="submitted && f.city.errors" class="invalid-feedback">
                  <div *ngIf="f.city.errors.required">Città obbligatoria</div>
                  <div *ngIf="f.city.errors.maxlength">La Città non deve superare i 50 caratteri</div>
                </div>
              </div>
            </div> <!-- Address and Residence City -->
            <div class="form-row">
              <div class="input-group mb-3 col-md-6">
                <div class="d-block w-100">
                  <label for="province" class="label-tiny">Provincia</label>
                </div>
                <div class="input-group-prepend">
                  <span class="input-group-text"><i class="fas fa-map"></i></span>
                </div>
                <input type="text" formControlName="province" class="form-control" placeholder="Provincia" id="province"
                       [ngClass]="{ 'is-invalid': submitted && f.province.errors }" maxlength="2"/>

                <div *ngIf="submitted && f.province.errors" class="invalid-feedback">
                  <div *ngIf="f.province.errors.required">Provincia obbligatoria</div>
                  <div *ngIf="f.province.errors.maxlength">La provincia non deve superare i 2 caratteri</div>
                </div>
              </div>
              <div class="input-group mb-3 col-md-6">
                <div class="d-block w-100">
                  <label for="zip_code" class="label-tiny">Cap</label>
                </div>
                <div class="input-group-prepend">
                  <span class="input-group-text"><i class="fas fa-code"></i></span>
                </div>
                <input type="text" formControlName="zip" class="form-control" placeholder="Cap" id="zip_code"
                       [ngClass]="{ 'is-invalid': submitted && f.zip.errors }" maxlength="5"/>

                <div *ngIf="submitted && f.zip.errors" class="invalid-feedback">
                  <div *ngIf="f.zip.errors.required">Cap obbligatorio</div>
                  <div *ngIf="f.zip.errors.maxlength">Il cap non deve superare i 5 caratteri</div>
                </div>
              </div>
            </div> <!-- Province and Zip Code-->
            <div class="form-row">
              <div class="input-group mb-4 col-md-6">
                <div class="d-block w-100">
                  <label for="password" class="label-tiny">Password</label>
                </div>
                <div class="input-group-prepend">
                  <span class="input-group-text"><i class="icon-lock"></i></span>
                </div>
                <input type="password" formControlName="password" class="form-control" placeholder="Password"
                       [ngClass]="{ 'is-invalid': submitted && f.password.errors }" id="password"/>

                <div *ngIf="submitted && f.password.errors" class="invalid-feedback">
                  <div *ngIf="f.password.errors.required">Password obbligatoria</div>
                  <div *ngIf="f.password.errors.minlength">La password deve avere almeno 10 caratteri</div>
                </div>
              </div>
              <div class="input-group mb-4 col-md-6">
                <div class="d-block w-100">
                  <label for="r_password" class="label-tiny">Conferma Password</label>
                </div>
                <div class="input-group-prepend">
                  <span class="input-group-text"><i class="icon-lock"></i></span>
                </div>
                <input type="password" formControlName="r_password" class="form-control" placeholder="Conferma Password"
                       id="r_password">
              </div>
              <div class="alert alert-danger col-md-12"
                   *ngIf="submitted && f.r_password.errors?.MatchPassword">Password non valida
              </div>
              <button class="btn btn-success btn-lg" style="margin: 0 auto;">Salva dati aggiornati</button>
            </div> <!-- Password and repeated password -->
          </form>
        </div>
      </div>
    </div>
  </div>
</div>

<ng-template #updateInfo>
  <div class="modal-header">
    <h4 class="modal-title pull-left">Sei sicuro?</h4>
    <button type="button" class="close pull-right" aria-label="Close" (click)="closeModal()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>

  <div class="modal-body">
    Vuoi veramente aggiornare le tue informazioni? Sarai disconnesso dalla piattaforma.  </div>

  <div class="modal-footer">
    <button type="button" class="btn btn-danger" (click)="closeModal()">No</button>
    <button type="button" class="btn btn-success" (click)="updateUser()">
      Si
    </button>
  </div>
</ng-template>
