<app-core-header></app-core-header>             <!-- HEADER -->


<div class="container" id="body-row">

  <div class="col" id="main-content">

    <app-core-sidebar class="rounded" style="position:absolute; left: -230px; top: 21px; background: #ddd"></app-core-sidebar>         <!-- SIDEBAR -->

  <app-core-breadcrumb class="container"></app-core-breadcrumb>   <!-- BREADCRUMB -->

    <div class="">               <!-- CONTAINER -->
      <router-outlet></router-outlet>
    </div>

    <app-core-footer></app-core-footer>         <!-- FOOTER -->

  </div>
</div>


