<div class="container-fluid p-0">

  <div class="btn-group float-right" dropdown>
    <button id="button-basic" dropdownToggle type="button" class="btn dropdown-toggle icon-card"
            aria-controls="dropdown-basic"><span class="caret"></span>
    </button>
    <ul id="dropdown-basic" *dropdownMenu class="dropdown-menu dropdown-menu-right"
        role="menu" aria-labelledby="button-basic">
      <li class="dropdown-item" (click)="openModal(deleteChart)"><i class="fas fa-trash"></i> Remove</li>
      <li class="dropdown-item" (click)="openModal(updateChart)"><i class="fas fa-edit"></i> Update</li>
    </ul>
  </div>

  <!-- CARD WITH CHART -->
  <div class="rounded-top" *ngIf="!dashChart.error" [ngStyle]="{'backgroundColor': background}"
       style="padding:10px; color: #fff">
    <i class="fab" [ngClass]="icon" style="padding-bottom:3px; padding-left:10px; padding-right:10px"></i>
    <span style="font-size:14pt">{{dashChart.title}}</span><span style="margin-left:5px; padding-bottom:4px; font-size:8pt; text-transform: uppercase;">({{dashChart['Chart']['format']}})</span>
  </div>
  <div *ngIf="!dashChart.error" style="background:#fff; min-height:350px; padding:20px" class="rounded-bottom border">
    <div *ngIf="this.type == 'ga_bounce'" style="font-size:18px; font-variant:small-caps; min-height: 100px; font-weight:400; font-family:Roboto;">
      Average bounce rate: <b>{{this.avg}}%</b><!-- (<b style="color:#960500">-3.41%</b> <span class="fas fa-caret-down ml-1" style="color:#960500"></span>)<span style="color:#bbb">*</span>-->
      <div style="font-size:13px;">
        Lowest: <b>{{this.low}}%</b><br /> <!-- <b style="color: #267F00"> COLORE  VERDE-->
        Highest: <b>{{this.high}}%</b>
      </div>
      <div style="font-size:11px; font-variant:none; color:#bbb">* previous interval</div>
    </div>
    <div *ngIf="this.type == 'ga_impressions'" style="font-size:18px; font-variant:small-caps; min-height: 100px; font-weight:400; font-family:Roboto;">
      Average impressions: <b>{{this.avg}}</b><!-- (<b style="color:#960500">-3.41%</b> <span class="fas fa-caret-down ml-1" style="color:#960500"></span>)<span style="color:#bbb">*</span>-->
      <div style="font-size:13px;">
        Lowest: <b>{{this.low}}</b><br /> <!-- <b style="color: #267F00"> COLORE  VERDE-->
        Highest: <b>{{this.high}}</b>
      </div>
      <div style="font-size:11px; font-variant:none; color:#bbb">* previous interval</div>
    </div>
    <google-chart style="height:310px" [data]="dashChart.chartData" #mychart (window:resize)="chartResizer()">
    </google-chart>
  </div>

  <!-- CARD WITH ERROR -->
  <div class="rounded-top" *ngIf="dashChart.error" [ngStyle]="{'backgroundColor': background}"
       style="padding:10px; color: #fff">
    <i class="fab" [ngClass]="icon" style="padding-bottom:3px; padding-left:10px; padding-right:10px"></i>
    <span style="font-size:14pt">{{dashChart.title}}</span>
  </div>

  <div *ngIf="dashChart.error" style="background:#fff; min-height:350px; padding:20px"
       class="rounded-bottom border d-table w-100 h-100">

    <div class="align-middle d-table-cell">
      <div class="bg-light rounded p-3 mx-auto align-middle" style="width: fit-content">
        <h4 class="text-center mb-0" style="font-size: 17px;">
          <i class="fas fa-exclamation-triangle text-warning mr-1"></i>
          Error retrieving this chartò
        </h4>
      </div>
    </div>
  </div>

</div>

<ng-template #deleteChart>
  <div class="modal-header">
    <h4 class="modal-title pull-left">{{dashChart.title}} dismissal</h4>
    <button type="button" class="close pull-right" aria-label="Close" (click)="closeModal()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>

  <div class="modal-body">
    Do you really want to remove this chart from the dashboard?
  </div>

  <div class="modal-footer">
    <button type="button" class="btn btn-danger" (click)="closeModal()">No</button>
    <button type="button" class="btn btn-success" (click)="removeChart(dashChart.dashboard_id, dashChart.chart_id)">
      Yes
    </button>
  </div>
</ng-template>

<ng-template #updateChart>
  <div class="modal-header">
    <h4 class="modal-title pull-left">Update {{dashChart.title}}</h4>
    <button type="button" class="close pull-right" aria-label="Close" (click)="closeModal()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>

  <div class="modal-body">
    <form [formGroup]="updateChartForm" (ngSubmit)="onSubmit()">
      <div class="form-group row">
        <label class="col-sm-2 col-form-label">Title</label>
        <div class="col-sm-10">
          <input type="text" class="form-control" formControlName="chartTitle" placeholder="Chart Title"
                 [ngClass]="{ 'is-invalid': submitted && f.chartTitle.errors }">

          <div *ngIf="this.submitted && f.chartTitle.errors" class="invalid-feedback">
            <div *ngIf="f.chartTitle.errors.required">The title of the chart is required</div>
            <div *ngIf="f.chartTitle.errors.maxlength">The title must not be longer than 30 characters</div>
          </div>

        </div>
      </div>

      <div class="modal-footer">
        <button type="submit" class="btn btn-success">Update</button>
        <button type="button" class="btn btn-danger" (click)="closeModal()">Cancel</button>
      </div>

    </form>
  </div>
</ng-template>
