<div class="rounded" style="border:2px dashed #aaa; height:396px" *ngIf="dashboard_data">
  <div class="row h-100">
    <div class="col-sm-12 my-auto text-center">
      <i class="fas fa-plus add-card" (click)="openModal()"></i>
    </div>
  </div>
</div>

<ng-template #addChart>
  <div class="modal-header">
    <h4 class="modal-title pull-left"><i class="fas fa-plus-circle mr-3"></i>Add new chart</h4>
    <button type="button" class="close pull-right" aria-label="Close" (click)="closeModal()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>

  <div class="modal-body">
    <form [formGroup]="insertChartForm" (ngSubmit)="onSubmit()">
      <div class="form-group row">
        <label class="col-sm-2 col-form-label">Type:</label>
        <div class="col-sm-10"><!--
          <ngx-select-dropdown [multiple]="false" [config]="config"
                               (change)="selectionChanged($event)"
                               [options]="dropdownOptions" [ngClass]="{ 'is-invalid': submitted && chartRequired }">
          </ngx-select-dropdown>
          -->
          <select class="form-control" (change)="selectionChanged($event.target.value)">
            <option *ngFor="let opt of dropdownOptions" [value]="opt.id">{{opt.title + ' (' +opt.format + ')'}}</option>
          </select>

          <div *ngIf="submitted" class="invalid-feedback"
               [style.display]="chartRequired ? 'block' : 'none'">
            <div>The type of the chart is required.</div>
          </div>

        </div>
      </div>

      <div class="form-group row">
        <label class="col-sm-2 col-form-label">Title:</label>
        <div class="col-sm-10">
          <input type="text" class="form-control pl-3" formControlName="chartTitle" placeholder="Chart title"
                 [ngClass]="{ 'is-invalid': submitted && form.chartTitle.errors }">

          <div *ngIf="submitted && form['chartTitle'].errors" class="invalid-feedback">
            <div *ngIf="form['chartTitle'].errors['required']">The title of the chart is required.</div>
            <div *ngIf="form['chartTitle'].errors['maxlength']">The title must not contain more than 30 characters.</div>
          </div>

        </div>
      </div>

      <div class="modal-footer">
        <button type="submit" class="btn btn-success">Add chart</button>
        <button type="button" class="btn btn-danger" (click)="closeModal();">Cancel</button>
      </div>

    </form>
  </div>
</ng-template>
<ng-template #noChartsAvailable>
  <div class="modal-header">
    <h4 class="modal-title pull-left">No more charts</h4>
    <button type="button" class="close pull-right" aria-label="Close" (click)="closeModal()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>

  <div class="modal-body">
    <p>You have already added all the available charts for this dashboard.</p>

    <div class="modal-footer">
      <button type="button" class="btn btn-danger" (click)="closeModal()">Ok</button>
    </div>
  </div>
</ng-template>
