<div class="rounded" style="border:1px dashed #aaa; height:400px" *ngIf="dashboard_data">
  <div class="row h-100">
    <div class="col-sm-12 my-auto text-center">
      <i class="fas fa-plus add-card" (click)="openModal()"></i>
    </div>
  </div>
</div>

<ng-template #addChart>
  <div class="modal-header">
    <h4 class="modal-title pull-left"><i class="fas fa-plus-circle mr-3"></i>{{ 'EMPTYCARD.NEW_GRA' | translate }}</h4>
    <button type="button" class="close pull-right" aria-label="Close" (click)="closeModal()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <form [formGroup]="insertChartForm" (ngSubmit)="onSubmit()">
      <div class="form-group">
        <div *ngIf="dashboard_data.dashboard_type === D_TYPE.CUSTOM" class="mb-2 row">
          <label class="col-sm-2 col-form-label">{{ 'EMPTYCARD.CANALE' | translate }}</label>
          <div class="col-sm-10">
            <select class="form-control" formControlName="channel" (change)="filterDropdown(true)">
              <option *ngFor="let service of channels" [value]="service.value">{{service.name}}</option>
            </select>
          </div>
        </div>

        <div class="row mb-2">
          <label class="col-sm-2 col-form-label">{{ 'EMPTYCARD.METRICA' | translate }}</label>
          <div class="col-sm-10">
            <select class="form-control" formControlName="metric" (change)="filterDropdown()">
              <option *ngFor="let metric of metrics" [value]="metric.Title">{{metric.Title}}</option>
            </select>

            <div class="mt-1" style="color: #aaa" *ngIf="description"><span class="fa fa-info-circle mr-1"></span>{{description}}</div>

          </div>
        </div>

        <div class="row mb-2">
          <label class="col-sm-2 col-form-label">{{ 'EMPTYCARD.STILE' | translate }}</label>
          <div class="col-sm-10">
            <select class="form-control" formControlName="style">
              <option *ngFor="let style of styles" [value]="style">{{style}}</option>
            </select>
          </div>
        </div>

        <div class="row mb-2">
          <label class="col-sm-2 col-form-label">{{ 'EMPTYCARD.TITLE' | translate }}</label>
          <div class="col-sm-10">
            <input type="text" class="form-control pl-3" formControlName="title" placeholder="{{this.GEService.getStringFilterDate('PLACEHOLDER','TIT_GRA')}}"
                   [ngClass]="{ 'is-invalid': submitted && form.title.errors }">

            <div *ngIf="submitted && form['title'].errors" class="invalid-feedback">
              <div *ngIf="form['title'].errors['required']">{{ 'EMPTYCARD.TIT_O' | translate }}</div>
              <div *ngIf="form['title'].errors['maxlength']">{{ 'EMPTYCARD.TIT_ALERT' | translate }}</div>
            </div>

          </div>
        </div>
      </div>

      <div class="modal-footer pr-0">
        <button type="submit" class="btn btn-success">{{ 'EMPTYCARD.ADD' | translate }}</button>
        <button type="button" class="btn btn-danger" (click)="closeModal();">{{ 'EMPTYCARD.ANNULLA' | translate }}</button>
      </div>

    </form>
  </div>
</ng-template>
<ng-template #noChartsAvailable>
  <div class="modal-header">
    <h4 class="modal-title pull-left">{{ 'EMPTYCARD.NO_GRAF' | translate }}</h4>
    <button type="button" class="close pull-right" aria-label="Close" (click)="closeModal()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>

  <div class="modal-body">
    <p>{{ 'EMPTYCARD.FULL_GRAF' | translate }}</p>

    <div class="modal-footer">
      <button type="button" class="btn btn-danger" (click)="closeModal()">{{ 'EMPTYCARD.OK' | translate }}</button>
    </div>
  </div>
</ng-template>
