<div class="rounded" style="border:2px dashed #aaa; height:396px" *ngIf="dashboard_data">
  <div class="row h-100">
    <div class="col-sm-12 my-auto text-center">
      <i class="fas fa-plus add-card" (click)="openModal(addChart)"></i>
    </div>
  </div>
</div>

<ng-template #addChart>
  <div class="modal-header">
    <h4 class="modal-title pull-left">Add Chart</h4>
    <button type="button" class="close pull-right" aria-label="Close" (click)="closeModal()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>

  <div class="modal-body">
    <form [formGroup]="insertChartForm" (ngSubmit)="onSubmit()">
      <div class="form-group row">
        <label class="col-sm-2 col-form-label">Title</label>
        <div class="col-sm-10">
          <input type="text" class="form-control" formControlName="chartTitle" placeholder="Chart Title"
                 [ngClass]="{ 'is-invalid': submitted && f.chartTitle.errors }">

          <div *ngIf="this.submitted && f.chartTitle.errors" class="invalid-feedback">
            <div *ngIf="f.chartTitle.errors.required">The title of the chart is required</div>
            <div *ngIf="f.chartTitle.errors.maxlength">The title must not be longer than 30 characters</div>
          </div>

        </div>
      </div>

      <div class="form-group row">
        <label class="col-sm-2 col-form-label">Chart</label>
        <div class="col-sm-10">
          <ngx-select-dropdown [multiple]="false" [(value)]="chartSelected" [config]="config"
                               [options]="dropdownOptions" [ngClass]="{ 'is-invalid': submitted && chartRequired }" >
          </ngx-select-dropdown>

          <div *ngIf="this.submitted && chartRequired" class="invalid-feedback" [style.display]="chartRequired ? 'block' : 'none'">
            <div>The type of the chart is required.</div>
          </div>

        </div>
      </div>

      <div class="modal-footer">
        <button type="submit" class="btn btn-success">Add</button>
        <button type="button" class="btn btn-danger" (click)="closeModal()">Cancel</button>
      </div>

    </form>
  </div>
</ng-template>
