<div class="row rounded py-sm-4 title-header">
  <div class="col-xl-4 col-md-4 col-sm-6 col-12 pl-0 d-sm-block d-none">
    <h2 class="my-auto float-left">Instagram</h2>
  </div>
  <div *ngIf="isApiKeySet" class="col-xl-8 col-sm-6 col-md-8 col-12 my-md-auto">
    <h5 class="d-inline-block d-sm-none mt-1">Filter</h5>
    <div class="btn-group float-right ml-lg-1 ml-sm-2 d-md-block d-none" dropdown>

      <button id="button-settings" dropdownToggle type="button" class="btn dropdown-toggle icon-card"
              aria-controls="button-settings"><span class="caret"><i class="fas fa-cog"></i></span>
      </button>

      <ul id="dropdown-settings" *dropdownMenu class="dropdown-menu dropdown-menu-right" role="menu"
          aria-labelledby="button-settings">
        <li class="dropdown-item cursor-pointer" (click)="optionModal(deleteCharts)">
          <i class="fas fa-trash-alt mr-2"></i> Pulisci la dashboard
        </li>
        <li class="dropdown-item cursor-pointer" (click)="htmltoPDF()">
          <i class="fas fa-file-pdf mr-2"></i>Esporta in PDF
        </li>
      </ul>

    </div> <!-- PDF export -->
    <div class="btn-group float-right d-md-block d-none" dropdown>
      <button id="button-date-filter" dropdownToggle type="button" class="btn dropdown-toggle icon-card"
              aria-controls="dropdown-date-filter"><span class="caret">{{dateChoice}}</span>
      </button>

      <ul id="dropdown-date-filter" *dropdownMenu class="dropdown-menu dropdown-menu-right" role="menu"
          aria-labelledby="button-date-filter">
        <li class="dropdown-item" (click)="changeDateFilter(FILTER_DAYS.seven)">Ultimi 7 giorni</li>
        <li class="dropdown-item" (click)="changeDateFilter(FILTER_DAYS.thirty)">Ultimi 30 giorni</li>
        <!--<li class="dropdown-item" (click)="changeDateFilter(FILTER_DAYS.ninety)">Last 90 days</li>-->
        <!--<li class="dropdown-item">Personalizzato</li>-->
      </ul>
    </div> <!-- TODO Create a component custom like card -->
    <input type="text" class="form-control float-right mr-lg-1 mr-sm-2 filterDatePicker" #drp="bsDaterangepicker"
           [(ngModel)]="bsRangeValue"
           [minDate]="minDate"
           [maxDate]="maxDate"
           [bsConfig]="{ rangeInputFormat: 'DD/MM/YYYY', containerClass: 'theme-dark-blue' }"
           (bsValueChange)="onValueChange($event)"
           bsDaterangepicker>
  </div>
</div>

<div *ngIf=(emptyMinicards) class="alert alert-warning px-3 pt-3 mt-3 mb-0" role="alert">
  <h5>Le minicard non sono disponibili, in quanto il profilo business è stato attivato di recente.</h5>
</div> <!-- Mini cards -->
<div *ngIf="isApiKeySet && !emptyMinicards" class="row px-3 pt-3">
  <app-minicard *ngFor="let mini of miniCards" [minicard]="mini" [dtype]="D_TYPE.IG"></app-minicard>
</div> <!-- Mini cards -->

<div *ngIf="isApiKeySet" class="row" style="padding-bottom: 30px">
  <ng-container *ngIf="chartArray$.length > 0">
    <div *ngFor="let chart of chartArray$" class="col-lg-6 pt-3 card-container">
      <app-card [dashChart]="chart"></app-card>
    </div>
  </ng-container>

  <app-emptycard
    class="col-lg-6" [xlOrder]="3" [lgOrder]="5" [dashboard_data]="HARD_DASH_DATA"
    [ngStyle]="{'padding-left': nChartEven() ? '15px' : '0.5rem', 'padding-right': nChartEven() ? '0.5rem' : '15px'}"
  ></app-emptycard>

  <ngx-loading [show]="loading" [config]="config"></ngx-loading>

  <!--<ng-template #noContent>
    <h5 class="col-md-12 mt-3">The dashboard is empty. Start adding the first Chart!</h5>
  </ng-template>-->
</div>

<div *ngIf="!isApiKeySet" class="row">
  <div class="col-md-12 mt-3">
    <div class="card-group">
      <div class="card p-2" style="background-color: #eee;">
        <div class="card-body">
          <i class="fas fa-crow mr-1" style="font-size:30pt"></i><h5 class="mt-3"> Qua non c'è niente! Prima di poter visualizzare i dati, devi aggiungere la <b>sorgente dati</b> "Instagram".</h5><br/>
          <button class="btn btn-success ml-1" [routerLink]="['/preferences/api-keys']">Aggiungi una sorgente dati</button>
        </div>
      </div>
    </div>
  </div>
</div>

<ng-template #reportWait>
  <div class="modal-header">
    <h4 class="modal-title pull-left"><i class="fas fa-hourglass-half"></i> Esporta il report</h4>
  </div>

  <div class="modal-body">
    Stiamo creando il tuo report, attendi...
  </div>
</ng-template>


<ng-template #deleteCharts>
  <div class="modal-header">
    <h4 class="modal-title pull-left"><i class="fas fa-trash mr-3"></i> Eliminazione di tutti i grafici</h4>
    <button type="button" class="close pull-right" aria-label="Close" (click)="closeModal()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>

  <div class="modal-body">
    Sei veramente sicuro di voler tutti i grafici?
  </div>

  <div class="modal-footer">
    <button type="button" class="btn btn-danger" (click)="clearDashboard(dashStored)">
      Sì, rimuovili
    </button>
    <button type="button" class="btn btn-success" (click)="closeModal()">No, lasciali </button>
  </div>

</ng-template>
