<div class="row rounded py-sm-4 title-header h-100">
  <div class="col-xl-4 col-md-4 col-sm-6 col-12 pl-0 d-sm-block d-none">
    <h2 class="my-auto float-left">Instagram</h2>
  </div>
  <div *ngIf="isApiKeySet" class="col-xl-8 col-sm-6 col-md-8 col-12 my-md-auto">
    <h5 class="d-inline-block d-sm-none mt-1">Filter</h5>
    <div class="btn-group float-right ml-lg-1 ml-sm-2 d-md-block d-none" dropdown>
      <button id="button-export" dropdownToggle type="button" class="btn dropdown-toggle icon-card"
              aria-controls="button-export"><span class="caret"><i class="fas fa-download"></i></span>
      </button>

      <ul id="dropdown-export" *dropdownMenu class="dropdown-menu dropdown-menu-right" role="menu"
          aria-labelledby="button-export">
        <li class="dropdown-item cursor-pointer"><i class="fas fa-file-pdf mr-2"></i>Export as PDF</li>
      </ul>
    </div> <!-- PDF export -->
    <div class="btn-group float-right d-md-block d-none" dropdown>
      <button id="button-date-filter" dropdownToggle type="button" class="btn dropdown-toggle icon-card"
              aria-controls="dropdown-date-filter"><span class="caret">{{dateChoice}}</span>
      </button>

      <ul id="dropdown-date-filter" *dropdownMenu class="dropdown-menu dropdown-menu-right" role="menu"
          aria-labelledby="button-date-filter">
        <li class="dropdown-item" (click)="changeDateFilter(FILTER_DAYS.seven)">Last 7 days</li>
        <li class="dropdown-item" (click)="changeDateFilter(FILTER_DAYS.thirty)">Last 30 days</li>
        <!--<li class="dropdown-item" (click)="changeDateFilter(FILTER_DAYS.ninety)">Last 90 days</li>-->
        <li class="dropdown-item">Custom</li>
      </ul>
    </div> <!-- TODO Create a component custom like card -->
    <input type="text" class="form-control float-right mr-lg-1 mr-sm-2 filterDatePicker" #drp="bsDaterangepicker"
           [(ngModel)]="bsRangeValue"
           [minDate]="minDate"
           [maxDate]="maxDate"
           [bsConfig]="{ rangeInputFormat: 'DD/MM/YYYY', containerClass: 'theme-dark-blue' }"
           (bsValueChange)="onValueChange($event)"
           bsDaterangepicker>
  </div>
</div>

<div *ngIf="isApiKeySet" class="row px-3 pt-3">
  <app-minicard *ngFor="let mini of miniCards" [minicard]="mini" [dtype]="D_TYPE.IG"></app-minicard>
</div> <!-- Mini cards -->

<div *ngIf="isApiKeySet" class="row" style="padding-bottom: 30px">
  <ng-container *ngIf="chartArray$.length > 0">
    <div *ngFor="let chart of chartArray$" class="col-lg-6 pt-3 card-container">
      <app-card [dashChart]="chart"></app-card>
    </div>
  </ng-container>

  <app-emptycard
    class="col-lg-6" [xlOrder]="3" [lgOrder]="5" [dashboard_data]="HARD_DASH_DATA"
    [ngStyle]="{'padding-left': nChartEven() ? '15px' : '0.5rem', 'padding-right': nChartEven() ? '0.5rem' : '15px'}"
  ></app-emptycard>

  <ngx-loading [show]="loading" [config]="config"></ngx-loading>

  <!--<ng-template #noContent>
    <h5 class="col-md-12 mt-3">The dashboard is empty. Start adding the first Chart!</h5>
  </ng-template>-->
</div>

<div *ngIf="!isApiKeySet" class="row">
  <div class="col-md-12 mt-3">
    <div class="card-group">
      <div class="card p-2" style="background-color: #eee;">
        <div class="card-body">
          <h3 class="text-danger">You can't add charts to the dashboard (TO FIX ME)</h3>
          <h4 class="m-1">First you need to login to Instagram via OAuth.</h4>
          <button class="btn btn-success ml-1" [routerLink]="['/preferences/api-keys']">Go to configure data sources
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
