<div class="row rounded py-sm-4 title-header">
  <div class="col-xl-4 col-md-4 col-sm-6 col-12 pl-0 d-sm-block d-none">
    <h2 class="my-auto float-left">La mia dashboard</h2>
  </div> <!-- Title -->
  <div *ngIf="somethingGranted" class="col-xl-8 col-md-8 col-sm-6 col-12 my-md-auto filter-div">
    <h5 class="d-inline-block d-sm-none mt-1">Filter</h5>
    <div class="btn-group float-right ml-lg-1 ml-sm-2 d-md-block d-none" dropdown>
      <button id="button-settings" dropdownToggle type="button" class="btn dropdown-toggle icon-card"
              aria-controls="button-settings"><span class="caret"><i class="fas fa-cog"></i></span>
      </button>

      <ul id="dropdown-settings" *dropdownMenu class="dropdown-menu dropdown-menu-right" role="menu"
          aria-labelledby="button-settings">
        <li class="dropdown-item cursor-pointer" (click)="optionModal(deleteCharts)">
          <i class="fas fa-trash-alt mr-2"></i> Pulisci la dashboard
        </li>
        <li class="dropdown-item cursor-pointer" (click)="htmltoPDF()">
          <i class="fas fa-file-pdf mr-2"></i>Esporta in PDF
        </li>
      </ul>
    </div> <!-- PDF export -->
    <div class="btn-group float-right d-md-block d-none" dropdown>
      <button id="button-date-filter" dropdownToggle type="button" class="btn dropdown-toggle icon-card"
              aria-controls="dropdown-date-filter"><span class="caret">{{dateChoice}}</span>
      </button>

      <ul id="dropdown-date-filter" *dropdownMenu class="dropdown-menu dropdown-menu-right" role="menu"
          aria-labelledby="button-date-filter">
        <li class="dropdown-item" (click)="changeData(FILTER_DAYS.seven)">Ultimi 7 giorni</li>
        <li class="dropdown-item" (click)="changeData(FILTER_DAYS.thirty)">Ultimi 30 giorni</li>
        <li class="dropdown-item" (click)="changeData(FILTER_DAYS.ninety)">Ultimi 90 giorni</li>
      </ul>
    </div> <!-- TODO Create a component custom like card -->
    <input type="text" class="form-control float-right mr-lg-1 mr-sm-2 filterDatePicker"
           [(ngModel)]="bsRangeValue"
           [minDate]="minDate"
           [maxDate]="maxDate"
           [bsConfig]="{ rangeInputFormat: 'DD/MM/YYYY', containerClass: 'theme-red' }"
           (bsValueChange)="onValueChange($event)"
           bsDaterangepicker> <!-- Date picker -->
  </div>
</div> <!-- Header -->

<div *ngIf="somethingGranted" class="row px-3 pt-3">
  <app-minicard *ngFor="let mini of miniCards" [minicard]="mini" [dtype]="mini.type"></app-minicard>
</div> <!-- Mini cards -->

<div *ngIf="somethingGranted" class="row" style="padding-bottom: 30px">
  <ng-container *ngIf="chartArray$.length > 0">
    <div *ngFor="let chart of chartArray$" class="col-lg-6 pt-3 card-container">
      <app-card [dashChart]="chart"></app-card>
    </div>
  </ng-container>

  <ng-template *ngIf="!loading && chartArray$.length == 0">
    <h5 class="col-md-12 mt-3">The dashboard is empty. Start adding the first chart!</h5>
  </ng-template>

  <app-emptycard
    *ngIf="!loading" class="col-lg-6 " [xlOrder]="3" [lgOrder]="5" [dashboard_data]="HARD_DASH_DATA"
    [ngStyle]="{'padding-left': nChartEven() ? '15px' : '0.5rem', 'padding-right': nChartEven() ? '0.5rem' : '15px'}"
  ></app-emptycard>

  <ngx-loading [show]="loading" [config]="config"></ngx-loading>
</div>

<ng-template #selectView>
  <div class="modal-header">
    <h4 class="modal-title pull-left"><i class="fas fa-flask mr-3"></i>Seleziona dati da importare</h4>
  </div>

  <div class="modal-body">
    <form [formGroup]="selectViewForm" (ngSubmit)="selectViewSubmit()">
      <div class="form-group row">
        <p class="col-sm-12 text-justify">
          Il tuo account Google Analytics è associato a più siti web. Quale vuoi includere in Doutdes?
        </p>
        <div class="col-sm-12">
          <select class="form-control mx-auto" style="width: 70%;" formControlName="view_id" [ngClass]="{ 'is-invalid': submitted && selectViewForm.controls['view_id'].errors }">
            <!--<option [value]="viewList[0].id" selected>{{viewList[0].name}}</option>-->
            <option *ngFor="let view of viewList" [value]="view.id">{{view.name}}</option>
          </select>

          <div *ngIf="this.submitted && selectViewForm.controls['view_id'].errors" class="invalid-feedback">
            <div>Devi obbligatoriamente selezionare un sito</div>
          </div>
        </div>
      </div>

      <div class="modal-footer pr-0 pb-0">
        <button type="submit" class="btn btn-success">Conferma</button>
      </div>
    </form>
  </div>
</ng-template>

<div *ngIf="!somethingGranted" class="row">
  <div class="col-md-12 mt-3">
    <div class="card-group">
      <div class="card p-2" style="background-color: #eee;">
        <div class="card-body">
          <i class="fas fa-crow mr-1" style="font-size:30pt"></i><h5 class="mt-3"> Qua non c'è niente! Prima di poter visualizzare i dati, devi aggiungere almeno una <b>sorgente dati</b>.</h5><br/>
          <button class="btn btn-success ml-1" [routerLink]="['/preferences/api-keys']">Aggiungi una sorgente dati</button>
        </div>
      </div>
    </div>
  </div>
</div>

<ng-template #reportWait>
  <div class="modal-header">
    <h4 class="modal-title pull-left"><i class="fas fa-hourglass-half"></i> Esporta il report</h4>
  </div>

  <div class="modal-body">
    Stiamo creando il tuo report, attendi...
  </div>
</ng-template>

<ng-template #deleteCharts>
  <div class="modal-header">
    <h4 class="modal-title pull-left"><i class="fas fa-trash mr-3"></i> Eliminazione di tutti i grafici</h4>
    <button type="button" class="close pull-right" aria-label="Close" (click)="closeModal()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>

  <div class="modal-body">
    Sei veramente sicuro di voler tutti i grafici?
  </div>

  <div class="modal-footer">
    <button type="button" class="btn btn-danger" (click)="clearDashboard(dashStored)">
      Sì, rimuovili
    </button>
    <button type="button" class="btn btn-success" (click)="closeModal()">No, lasciali </button>
  </div>

</ng-template>
