<div class="row bg-white rounded p-4 title-header h-100">
  <div class="col-xl-8 col-lg-6 col-md-8">
    <img src="../assets/img/website-head.png" class="float-left"/>
    <h1 class="display-4 my-auto float-left ml-3" style="color:#888">My dashboard</h1>
  </div>
  <div class="col-xl-4 col-lg-6 col-md-4 my-auto">
    <div>
      <div class="btn-group float-right" dropdown>
        <button id="button-date-filter" dropdownToggle type="button" class="btn dropdown-toggle icon-card"
                aria-controls="dropdown-date-filter"><span class="caret">{{dateChoice}}</span>
        </button>

        <ul id="dropdown-date-filter" *dropdownMenu class="dropdown-menu dropdown-menu-right" role="menu"
            aria-labelledby="button-date-filter">
          <li class="dropdown-item" (click)="changeData(FILTER_DAYS.seven)">Last 7 days</li>
          <li class="dropdown-item" (click)="changeData(FILTER_DAYS.thirty)">Last 30 days</li>
          <li class="dropdown-item" (click)="changeData(FILTER_DAYS.ninety)">Last 90 days</li>
        </ul>
      </div> <!-- TODO Create a component custom like card -->
      <input type="text" class="form-control float-right mr-3 filterDatePicker"
             [(ngModel)]="bsRangeValue"
             [minDate]="minDate"
             [maxDate]="maxDate"
             [bsConfig]="{ rangeInputFormat: 'DD/MM/YYYY' }"
             (bsValueChange)="onValueChange($event)"
             bsDaterangepicker>
      <!-- style="border: 1px solid gray; padding: 0.375rem 0.75rem; font-size: 0.875rem;line-height: 1.5; border-radius: 0.25rem;"-->
    </div>
  </div>
</div>

<div class="row" style="padding-bottom: 30px">
  <ng-container *ngIf="chartArray$.length > 0">
    <div *ngFor="let chart of chartArray$" class="col-xl-4 col-lg-6 pt-3 order-xl-1 order-lg-1">
      <app-card [dashChart]="chart"></app-card>
    </div>
  </ng-container>

  <ng-template *ngIf="!loading && chartArray$.length == 0">
    <h5 class="col-md-12 mt-3">The dashboard is empty. Start adding the first chart!</h5>
  </ng-template>

  <app-emptycard *ngIf="!loading" class="col-lg-6 col-xl-4 " [xlOrder]="3" [lgOrder]="5" [dashboard_data]="HARD_DASH_DATA"></app-emptycard>

  <ngx-loading [show]="loading" [config]="config"></ngx-loading>
</div>
