<div class="row rounded py-sm-4 title-header" xmlns="http://www.w3.org/1999/html" xmlns="http://www.w3.org/1999/html">
  <div class="col-xl-4 col-md-4 col-sm-6 col-12 pl-0 d-sm-block d-none">
    <h2 class="my-auto float-left">Guide d'uso</h2>
  </div> <!-- title -->
</div>

<div class="card text-center mt-3">

  <ul class="nav nav-pills p-3 justify-content-center" id="myTab" role="tablist">

    <li class="nav-item">
      <a class="nav-link active" id="guide-tab" data-toggle="tab" href="#guide" role="tab" aria-controls="guide" aria-selected="true"><h5>Guide Introduttive</h5></a>
    </li>
    <li class="nav-item">
      <a class="nav-link" id="tutorial-tab" data-toggle="tab" href="#tutorial" role="tab" aria-controls="tutorial" aria-selected="false"><h5>Tutorial</h5></a>
    </li>
    <li class="nav-item">
      <a class="nav-link" id="contact-tab" data-toggle="tab" href="#contact" role="tab" aria-controls="contact" aria-selected="false"><h5>Analisi dei grafici</h5></a>
    </li>

  </ul>

  <div class="tab-content" id="myTabContent">

    <!-- GUIDE D'USO -->
    <div class="tab-pane fade show active" id="guide" role="tabpanel" aria-labelledby="guide-tab">

      <div class="row">

        <div class="card-group">

          <div class="card-body">
            <!-- DESCRIZIONE-->
            <div class="row mb-5">
              <div class="col-md-4">
                <img src="/assets/img/DigitalMarketing.jpeg" class="img-fluid"/>
              </div>

              <div class="col-md-7">

                <p>Nell’era digitale, le imprese che vogliono essere competitive all’interno del mercato devono implementare le proprie strategie di comunicazione attraverso i principali media, dai quali ricavano una mole significativa di dati digitali. Questi, rappresentano inestimabili opportunità che spesso non vengono sfruttate a causa della mancanza di strumenti e competenze per ricavare informazioni fondamentali a fini di marketing e di miglioramento della produttività. </p>
                <p>Proprio per questo, tra gli strumenti che il Progetto Doutdes mette a disposizione delle imprese, per consentire una maggiore conoscenza dell’era digitale e dei comportamenti degli utenti che utilizzano i canali web e social, c’è la <b> Guida introduttiva al Progetto Doutdes</b>, articolata in quattro parti.
                  <br> <a href="./././assets/InfoGrafici/GuidaIntroduttiva/0_Guida.pdf" target="_blank"> Introduzione &raquo;</a>  </p>

              </div>

            </div>
            <!-- CARD -->
            <div class="container">
              <!-- CARD 1 - 2 -->
              <div class="row">
                <!-- CARD 1 -->
                <div class="col-sm-6" >
                  <div class="card" style="box-shadow: 10px 10px 5px #dedede;">
                    <div class="card-body">
                      <h5 class="card-title" style="color: #1e0b07;"><b>Parte 1 - Dal marketing tradizionale al marketing digitale</b></h5>
                      <p class="card-text">L’obiettivo di questa guida è quello di fornire al lettore una conoscenza generale sull’evoluzione del marketing,
                        che da marketing tradizionale si è evoluto in marketing digitale, non dimenticando comunque i canali tradizionali.
                      </p>
                      <a href="./././assets/InfoGrafici/GuidaIntroduttiva/1_Guida.pdf" target="_blank" class="btn btn-primary">Approfondisci</a>
                    </div>
                  </div>
                </div>
                <!-- CARD 2 -->
                <div class="col-sm-6">
                  <div class="card" style="box-shadow: 10px 10px 5px #dedede;">
                    <div class="card-body">
                      <h5 class="card-title" style="color: #1e0b07;"><b>Parte 2 - Presenza sul web: canali social e sito internet</b></h5>
                      <p class="card-text">L’obiettivo di questa guida è quello di fornire al lettore una conoscenza generale su come un’impresa può costruire la propria presenza sul web, tra sito internet e canali social.
                      <br/><br/>
                      </p>
                      <a href="./././assets/InfoGrafici/GuidaIntroduttiva/2_Guida.pdf" target="_blank" class="btn btn-primary">Approfondisci</a>
                    </div>
                  </div>
                </div>
              </div>
              <!-- CARD 3 - 4 -->
              <div class="row mt-3">
                <!-- CARD 3 -->
                <div class="col-sm-6">
                  <div class="card" style="box-shadow: 10px 10px 5px #dedede;">
                    <div class="card-body">
                      <h5 class="card-title" style="color: #1e0b07;"><b>Parte 3 - Social network best practices</b></h5>
                      <p class="card-text">
                        L’obiettivo di questa guida è quello di fornire al lettore una conoscenza generale sulle best practices che caratterizzano i social network, ossia l’insieme di abitudini,
                        comportamenti e attività degli utenti che possono essere prese come riferimento per migliorare la presenza social di un’impresa.
                      </p>
                      <a href="./././assets/InfoGrafici/GuidaIntroduttiva/3_Guida.pdf" target="_blank" class="btn btn-primary">Approfondisci</a>
                    </div>
                  </div>
                </div>
                <!-- CARD 4 -->
                <div class="col-sm-6">
                  <div class="card" style="box-shadow: 10px 10px 5px #dedede;">
                    <div class="card-body">
                      <h5 class="card-title" style="color: #1e0b07;"><b>Parte 4 - L’importanza dell’analisi dei dati dei canali web e social</b></h5>
                      <p class="card-text">L’obiettivo di questa guida è quello di trasmettere al lettore l’importanza dell’analisi dei dati dei canali web e social,
                         facendo riferimento all’indice ROI, per capire l’importanza della piattaforma Doutdes.
                      </p>
                      <a href="./././assets/InfoGrafici/GuidaIntroduttiva/4_Guida.pdf" target="_blank" class="btn btn-primary">Approfondisci</a>
                    </div>
                  </div>
                </div>
              </div>

            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- TUTORIAL -->
    <div class="tab-pane fade show" id="tutorial" role="tabpanel" aria-labelledby="tutorial-tab">
      <div class="row">
          <div class="card-group">
              <div class="card-body">
                <!-- DESCRIZIONE-->
                <div class="row mb-5">
                  <div class="col-md-4">
                    <img src="/assets/img/setting(2).png" class="img-fluid"/>
                  </div>

                  <div class="col-md-7">

                    <p>Doutdes offre la possibilità di configurare dashboard predefinite e personalizzate, con tutti i grafici necessari ad analizzare le performance dei propri canali, generando i report associati. </p>
                    <p>Importare sulla piattaforma Doutdes i dati di sorgenti esterne come Google Analytics o Facebook Insights è estremamente semplice.
                      <b>La sezione Tutorial</b> è dedicata ad un aiuto passo-passo per prendere confidenza con gli strumenti della piattaforma, è anche volta ad implementare un caso d'uso per una
                      <b>campagna di comunicazione </b>sui differenti Social Network e Sito Web, e al successivo monitoraggio dei risultati attraverso Doutdes.</p>

                  </div>

                </div>
                <!-- CARD -->
                <div class="container">

                  <!-- CARD 1 - 2 -->
                  <div class="row">
                    <!-- CARD 1 -->
                    <div class="col-sm-6" >
                      <div class="card" style="box-shadow: 10px 10px 5px #dedede;">
                        <div class="card-body">
                          <h4 class="card-title" style="color: #1e0b07;"><b>YouTube</b></h4>
                          <p class="card-text">
                            </p>
                          <a [routerLink]="['/tutorial/youtube']" class="btn btn-primary mb-5">Tutorial Dashboard</a>
                        </div>
                      </div>
                    </div>
                    <!-- CARD 2 -->
                    <div class="col-sm-6">
                      <div class="card" style="box-shadow: 10px 10px 5px #dedede;">
                        <div class="card-body">
                          <h4 class="card-title" style="color: #1e0b07;"><b>Google Analytics</b></h4>
                          <p class="card-text">
                            </p>
                          <a [routerLink]="['/tutorial/google']" class="btn btn-primary mb-5">Tutorial Dashboard</a>
                        </div>
                      </div>
                    </div>
                  </div>
                  <!-- CARD 3 - 4 -->
                  <div class="row mt-3">
                    <!-- CARD 3 -->
                    <div class="col-sm-6">
                      <div class="card" style="box-shadow: 10px 10px 5px #dedede;">
                        <div class="card-body">
                          <h4 class="card-title" style="color: #1e0b07;"><b>Instagram</b></h4>
                          <p class="card-text">
                            </p>
                          <div class="btn-group-vertical">
                          <a [routerLink]="['/tutorial/instagram']" class="btn btn-primary">Tutorial Dashboard</a>
                          <a href="https://www.youtube.com/watch?v=7_8F3bq-eBI&t=5s" class="btn btn-primary"class="btn btn-primary mt-3">Campagna di Comunicazione - <b>Video</b></a>
                          <a href="./././assets/InfoGrafici/CampagnaComunicazione/0_IG_CampagnaComunicazione.pdf" target="_blank" class="btn btn-primary mt-3">Campagna di Comunicazione - <b>Slides</b></a>
                          </div>
                        </div>
                      </div>
                    </div>
                    <!-- CARD 4 -->
                    <div class="col-sm-6">
                      <div class="card pb-5" style="box-shadow: 10px 10px 5px #dedede;">
                        <div class="card-body">
                          <h4 class="card-title" style="color: #1e0b07;"><b>Facebook</b></h4>
                          <p class="card-text">
                            </p>
                          <a [routerLink]="['/tutorial/facebook']" class="btn btn-primary mb-5">Tutorial Dashboard</a>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
          </div>
      </div>
    </div>

    <!-- ANALISI DEI GRAFICI -->
    <div class="tab-pane fade" id="contact" role="tabpanel" aria-labelledby="contact-tab">
      <div class="row">
        <div class="card-group">
          <div class="card-body">
            <!-- DESCRIZIONE-->
            <div class="row mb-5">
              <div class="col-md-4">
                <img src="/assets/img/AnalisiGrafici.png" class="img-fluid"/>
              </div>

              <div class="col-md-7 mt-3">

                <p>Le seguenti guide sono volte a descrivere e interpretare i grafici disponibili per la differenti Dashboard della piattaforma DoUtDes;</p>
                <p>Per ogni grafico è presente la descrizione e un’interpretazione sui dati che il grafico mostra. In più, ad ogni grafico sono associati uno o
                  più esempi pratici con successivi consigli sul motivo per il quale il grafico rilascia un certo tipo di dato,
                  e in quale modo poter risolvere o migliorare l’attività della propria pagina.</p>

              </div>

            </div>
            <!-- CARD -->
            <div class="container">
              <!-- CARD 1 - 2 -->
              <div class="row">
                <!-- CARD 1 -->


                <div class="col-sm-6" >
                  <div class="card" style="box-shadow: 10px 10px 5px #dedede;">
                    <div class="card-body">
                      <h4 class="card-title" style="color: #1e0b07;"><b>Instagram</b></h4>
                      <a href="./././assets/InfoGrafici/GuidaCompleta/Instagram.pdf" target="_blank" class="btn btn-primary">Consulta l'analisi dei grafici - <b>Slides</b></a>
                      <a href="https://www.youtube.com/playlist?list=PLR5NaNAHaEODreKFoHSKyOeov3XLZPLMt" target="_blank" class="btn btn-primary mt-3">Consulta l'analisi dei grafici - <b>Video</b></a>
                    </div>
                  </div>
                </div>

                <div class="col-sm-6" >
                  <div class="card" style="box-shadow: 10px 10px 5px #dedede;">
                    <div class="card-body">
                      <h4 class="card-title" style="color: #1e0b07;"><b>Facebook</b></h4>
                      <a href="./././assets/InfoGrafici/GuidaCompleta/Facebook.pdf" target="_blank" class="btn btn-primary">Consulta l'analisi dei grafici - <b>Slides</b></a>
                      <a href="https://www.youtube.com/playlist?list=PLR5NaNAHaEOCtFf54sIkaP0qtJRrEXorc" target="_blank" class="btn btn-primary mt-3">Consulta l'analisi dei grafici - <b>Video</b></a>
                    </div>
                  </div>
                </div>



                <!--
                <div class="row align-items-start img-fluid border bg-white mb-4 ml-3 mr-3" style="box-shadow: 10px 10px 5px #dedede;">

                  <div class="col p-3 mb-3">
                    <h4 class="card-title" style="color: #1e0b07;"><b>Instagram</b></h4>
                    <div> L’obiettivo di questa guida è quello di fornire al lettore una conoscenza generale sull’evoluzione del dei grafici, permettendo di sfruttare al meglio le potenzialità di Instagram.
                    </div>
                    <a href="./././assets/InfoGrafici/GuidaCompleta/Instagram.pdf" target="_blank" class="btn btn-primary mt-3">Consulta l'analisi dei grafici</a>
                  </div>
                </div>
                -->



                <!-- CARD 2 -->
                <!--
                <div class="col-sm-6">
                  <div class="card" style="box-shadow: 10px 10px 5px #dedede;">
                    <div class="card-body">
                      <h4 class="card-title" style="color: #1e0b07;"><b>Google Analytics</b></h4>
                      <p class="card-text">ed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam,
                        eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo.
                        Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt.
                      </p>
                      <a href="#" class="btn btn-primary">Consulta il Tutorial</a>
                    </div>
                  </div>
                </div>
                -->
              </div>
              <!-- CARD 3 - 4 -->
              <!--
              <div class="row mt-3">
              -->
                <!-- CARD 3 -->
                <!--
                <div class="col-sm-6">
                  <div class="card" style="box-shadow: 10px 10px 5px #dedede;">
                    <div class="card-body">
                      <h4 class="card-title" style="color: #1e0b07;"><b>Instagram</b></h4>
                      <p class="card-text">ed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam,
                        eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo.
                        Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt.
                      </p>
                      <a href="#" class="btn btn-primary">Consulta il Tutorial</a>
                    </div>
                  </div>
                </div>
                -->
                <!-- CARD 4 -->
                <!--
                <div class="col-sm-6">
                  <div class="card" style="box-shadow: 10px 10px 5px #dedede;">
                    <div class="card-body">
                      <h4 class="card-title" style="color: #1e0b07;"><b>YouTube</b></h4>
                      <p class="card-text">ed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam,
                        eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo.
                        Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt.
                      </p>
                      <a href="#" class="btn btn-primary">Consulta il Tutorial</a>
                    </div>
                  </div>
                </div>
                -->
              <!--
              </div>
              -->
            </div>
          </div>
        </div>
      </div>
    </div>

  </div>

</div>

