<form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
  <p class="text-muted">Accedi al tuo account:</p>
  <div class="input-group mb-3">
    <div class="input-group-prepend">
      <span class="input-group-text"><i class="icon-user"></i></span>
    </div>
    <input type="text" class="form-control" placeholder="Username" formControlName="username"
           [ngClass]="{ 'is-invalid': submitted && f.username.errors }"/>

    <div *ngIf="submitted && f.username.errors" class="invalid-feedback">
      <div *ngIf="f.username.errors.required">Lo username è obbligatorio</div>
    </div>
  </div>
  <div class="input-group">
    <div class="input-group-prepend">
      <span class="input-group-text"><i class="icon-lock"></i></span>
    </div>
    <input type="password" class="form-control" placeholder="Password" formControlName="password"
           [ngClass]="{ 'is-invalid': submitted && f.password.errors }"/>

    <div *ngIf="submitted && f.password.errors" class="invalid-feedback">
      <div *ngIf="f.password.errors.required">La password è obbligatoria</div>
    </div>
  </div>
  <!--<button type="button" class="btn btn-link px-0 d-block mb-4">Password dimenticata?</button>-->

  <div *ngIf="failed"><p class="text-danger">Lo username o la password non sono corretti.</p></div>

  <p class="mt-4"></p> <!-- TODO eliminare con abilitazione password dimenticata -->

  <div class="row">
    <div class="col-6">
      <button [disabled]="loading" class="btn btn-primary px-4">Login</button>
    </div>
    <!--<div class="col-6 text-right">-->

    <!--</div>-->
  </div>
</form>
