<div class="row" style="margin-bottom:30px">

  <!-- FAN WIDGET -->
  <app-card title="Page fans" background="lightblue" icon="facebook" chartType="areachart" [chartData]="fanChartData" lgOrder="1" mdOrder="1"></app-card>

  <!-- PAGE IMPRESSIONS WIDGET -->
  <app-card title="Page impressions" background="green" icon="facebook" chartType="areachart" [chartData]="impressChartData" lgOrder="4" mdOrder="4"></app-card>

  <!-- GEOMAP WIDGET -->
  <app-card title="Geomap" background="red" icon="facebook" chartType="geochart" [chartData]="geoChartData" lgOrder="2" mdOrder="2"></app-card>

  <!-- TOP COUNTRIES WIDGET -->
  <app-card title="Top countries" background="peach" icon="facebook" chartType="piechart" [chartData]="pieChartData" lgOrder="3" mdOrder="3"></app-card>

  <app-emptycard lgOrder="4" mdOrder="4"></app-emptycard>

  <app-emptycard lgOrder="5" mdOrder="5"></app-emptycard>
</div>

