<div class="row rounded p-4 title-header h-100">
  <div class="col-md-12 pl-0">
    <h2 class="my-auto pl-0">Tutorial: importazione dati Instagram</h2>
  </div>
</div>
<div class="rounded my-3 col-lg-12 tutorial" style="border: 1px solid #ccc; background: #fff; padding:50px">
  <p>In questa guida, è possibile trovare le istruzioni per importare la chiave API (token di accesso) di Instagram Insights utile a configurare la dashboard personale del vostro sito web su <b>DoUtDes</b>.
    Inoltre è possibile cliccare su qualsiasi immagine per poterla ingrandire.</p>

  <p class="pt-5">1) Vai su <b>Preferenze</b> nella sidebar e clicca su <b>Login with Instagra,</b>:</p>
  <p><img src="/assets/img/tutorialInstagram/chooseService.PNG"  (click)="openModal(zooming, 0)" title="Click here to zoom"/></p>

  <p class="pt-5">2) Apparirà un pop-up come nell'immagine sotto. Clicca su <b>Scegli le tue autorizzazioni</b>:</p>
  <p><img src="/assets/img/tutorialInstagram/accessi_ig.PNG"  (click)="openModal(zooming, 1)" title="Click here to zoom"/></p>

  <p class="pt-5">3) Seleziona la pagina (<b>una sola</b>) che vuoi aggiungere su <b>DoUtDes</b> e clicca su <b>Ok</b>:</p>
  <p><img src="/assets/img/tutorialInstagram/seleziona_ig.PNG"  (click)="openModal(zooming, 2)" title="Click here to zoom"/></p>

  <p class="pt-5">4) Ottimo lavoro! Hai aggiunto il tuo token di Instagram Insights su <b>DoUtDes</b>. Le statistiche sono ora disponibili nella piattaforma!</p>
  <p><img src="/assets/img/tutorialInstagram/ig_dash.PNG"  (click)="openModal(zooming, 3)" title="Click here to zoom"/></p>

</div>
<ng-template #zooming>
  <div class="modal-body" style="text-align:center">
    <img src="/assets/img/tutorialInstagram/{{imgSrc}}" class="img-fluid" style="border: 1px solid #ccc;" />
  </div>
</ng-template>
