<footer class="footer border rounded" style="right:0px"> <!-- TODO: remove 15px margin horiz -->
  <div class="container-fluid">
    <div class="float-left">
      <span><a href="http://' + environment.host + ':' + environment.port + '" style="color:#666;">DoUtDes</a> © {{this.copyrightYear}} UniCA</span>
    </div>
    <div class="float-right">
      <span>
        Powered by
        <a href="https://www.unica.it/unica/it/dip_matinfo.page" target="_blank" style="color:#666;">
          Dipartimento di Matematica e Informatica
        </a>
      </span>
    </div>
  </div>
</footer>
