<footer class="footer border rounded w-100">
  <div class="container-fluid">
    <div class="float-left">
      <span>© {{this.copyrightYear}} DoUtDes</span>
    </div>
    <div class="float-right">
      <span > {{ 'FOOTER.START' | translate }}<b>
          <a *ngIf="!drag" href="http://dmi.unica.it" target="_blank" style="color:#666;"> {{ 'FOOTER.DIP' | translate }} </a>

          <a *ngIf="drag" target="_blank" style="color:#666;"> {{ 'FOOTER.DIP' | translate }} </a>
        </b> (UniCA)
      </span>
    </div>
  </div>
</footer>
