<div class="row rounded py-sm-4 title-header">
  <div class="col-xl-4 col-md-4 col-sm-6 col-12 pl-0 d-sm-block d-none">
    <h2 class="my-auto float-left">Messaggi</h2>
  </div>
</div>

<!--<table mat-table>-->
  <!--<ng-container matColumnDef="title">-->
    <!--<th mat-header-cell *matHeaderCellDef> score</th>-->
    <!--<td mat-cell>fadfadfsadasd2</td>-->
  <!--</ng-container>-->
  <!--<ng-container matColumnDef="text">-->
    <!--<th mat-header-cell *matHeaderCellDef> team</th>-->
    <!--<td mat-cell> asdasdasdasdas</td>-->
  <!--</ng-container>-->


  <!--<tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>-->
  <!--<tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>-->

<!--</table>-->
