<div class="row rounded py-sm-4 title-header">
  <div class="col-xl-4 col-md-4 col-sm-6 col-12 pl-0 d-sm-block d-none">
    <h2 class="my-auto float-left">Messaggi</h2>
  </div>
</div>

<div *ngIf="dataSource && dataSource.data.length > 0" class="container-fluid d-none d-md-block">
  <table mat-table [dataSource]="dataSource" matSort class="table-striped w-100 ">

    <ng-container matColumnDef="notify">
      <th mat-header-cell *matHeaderCellDef></th>
      <td mat-cell *matCellDef="let message">
        <i *ngIf="!message.is_read" class="fas fa-exclamation-circle text-warning"></i>
      </td>
    </ng-container>

    <!-- Title Column -->
    <ng-container matColumnDef="title">
      <th mat-header-cell *matHeaderCellDef>Titolo</th>
      <td mat-cell *matCellDef="let message">
        <span [ngStyle]="{'font-weight': !message.is_read ? 'bold': 'normal'}" style="font-size: 15px; cursor: pointer;" (click)="openModal(openMessage, message); setAsRead(message)">{{message.title}}</span> <br/>
      </td>
    </ng-container>

    <ng-container matColumnDef="createdAt">
      <th mat-header-cell *matHeaderCellDef>Ora di invio</th>
      <td mat-cell *matCellDef="let message">
        <span [ngStyle]="{'font-weight': !message.is_read ? 'bold': 'normal'}" style="font-size: 15px;">{{this.formatDate(message.createdAt)}}</span> <br/>
      </td>
    </ng-container>

    <ng-container matColumnDef="read">
      <th mat-header-cell *matHeaderCellDef></th>
      <td mat-cell *matCellDef="let message">
        <i class="far fa-envelope-open" style="cursor: pointer" (click)="setAsRead(message)"></i>
        <i class="far fa-trash-alt" style="cursor: pointer" (click)="openModal(removeMessage, message)"></i>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>

  </table>
</div>

<div *ngIf="!dataSource || dataSource.data.length === 0" class="container-fluid d-none d-md-block">
  <h3>Nessun messaggio</h3>
</div>
<ng-template #openMessage>
  <div class="modal-header">
    <h4 class="modal-title"> <b>{{this.modalMessage.title}} </b></h4>
  </div>

  <div class="modal-body">
    <span>{{this.modalMessage.text}}</span>
  </div>

  <div class="modal-footer">
    <button type="button" class="btn btn-success" (click)="decline()">Ok, ho letto</button>
  </div>

</ng-template>

<!-- Modal deletion template -->
<ng-template #removeMessage>
  <div class="modal-header">
    <h4 class="modal-title pull-left">Cancellazione di <b>{{modalMessage.title}}</b></h4>
    <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>

  <div class="modal-body">
    Sei sicuro di voler cancellare questo messaggio? Questa operazione è irreversibile!
  </div>

  <div class="modal-footer">
    <button type="button" class="btn btn-danger" (click)="decline()">No</button>
    <button type="button" class="btn btn-success" (click)="deleteMessage(modalMessage.id)">Si, elimina</button>
  </div>
</ng-template>
