<div class="row rounded p-4 title-header">
  <div class="col-md-12 pl-0">
    <h2 class="my-auto pl-0">{{ 'CALENDARIO.TITLE' | translate }}</h2>
  </div>
</div>

<div class="row text-center bg-dark p-4 ml-0 mr-0 mt-5">
  <div class="col-md-4">
    <div class="btn-group">
      <div
        class="btn btn-outline-light"
        mwlCalendarPreviousView
        [view]="view"
        [(viewDate)]="viewDate"
        (viewDateChange)="activeDayIsOpen = false">
        {{ 'CALENDARIO.PRECEDENTE' | translate }}
      </div>
      <div
        class="btn btn-light"
        mwlCalendarToday
        [(viewDate)]="viewDate">
        {{ 'CALENDARIO.OGGI' | translate }}
      </div>
      <div
        class="btn btn-outline-light"
        mwlCalendarNextView
        [view]="view"
        [(viewDate)]="viewDate"
        (viewDateChange)="activeDayIsOpen = false">
        {{ 'CALENDARIO.SUCCESSIVO' | translate }}
      </div>
    </div>
  </div>
  <div class="col-md-4">
    <h3>{{ viewDate | calendarDate:(view + 'ViewTitle'):'it':weekStartsOn }}</h3>
  </div>
  <div class="col-md-4">
    <div class="btn-group">
      <div
        class="btn btn-primary"
        (click)="changeView(CalendarView.Month)"
        [class.active]="view === CalendarView.Month">
        {{ 'CALENDARIO.MENSILE' | translate }}
      </div>
      <div
        class="btn btn-primary"
        (click)="changeView(CalendarView.Week)"
        [class.active]="view === CalendarView.Week">
        {{ 'CALENDARIO.SETTIMANALE' | translate }}
      </div>
      <div
        class="btn btn-primary"
        (click)="changeView(CalendarView.Day)"
        [class.active]="view === CalendarView.Day">
        {{ 'CALENDARIO.GIORNALIERO' | translate }}
      </div>
    </div>
  </div>
</div>

<div [ngSwitch]="view" class="bg-white" >
  <mwl-calendar-month-view
    *ngSwitchCase="CalendarView.Month"
    [locale]="locale"
    [viewDate]="viewDate"
    [weekStartsOn]="weekStartsOn"
    [events]="events"
    [refresh]="refresh"
    [activeDayIsOpen]="activeDayIsOpen"
    (dayClicked)="dayClicked($event.day)"
    (eventClicked)="handleEvent('Clicked', $event.event)"
    (eventTimesChanged)="eventTimesChanged($event)">
  </mwl-calendar-month-view>
  <mwl-calendar-week-view
    *ngSwitchCase="CalendarView.Week"
    [locale]="locale"
    [viewDate]="viewDate"
    [weekStartsOn]="weekStartsOn"
    [events]="events"
    [refresh]="refresh"
    (eventClicked)="handleEvent('Clicked', $event.event)"
    (eventTimesChanged)="eventTimesChanged($event)">
  </mwl-calendar-week-view>
  <mwl-calendar-day-view
    *ngSwitchCase="CalendarView.Day"
    [locale]="locale"
    [viewDate]="viewDate"
    [events]="events"
    [refresh]="refresh"
    (eventClicked)="handleEvent('Clicked', $event.event)"
    (eventTimesChanged)="eventTimesChanged($event)">
  </mwl-calendar-day-view>
</div>

<div class="row my-4">
  <div class="col-md-4">
    <h3 *ngIf="events.length > 0">{{ 'CALENDARIO.MOD_EVENTI' | translate }}</h3>
  </div>
  <div class="offset-md-6 col-md-2">
    <button class="btn btn-primary float-right" (click)="addEvent()">{{ 'CALENDARIO.ADD_NEW' | translate }}</button>
  </div>
</div>

<table class="table table-bordered bg-white mt-4" *ngIf="events.length > 0">

  <thead>
  <tr>
    <th>{{ 'CALENDARIO.TITOLO' | translate }}</th>
    <th>{{ 'CALENDARIO.COLORE_1' | translate }}</th>
    <th>{{ 'CALENDARIO.COLORE_2' | translate }}</th>
    <th>{{ 'CALENDARIO.INIZIA' | translate }}</th>
    <th>{{ 'CALENDARIO.FINISCE' | translate }}</th>
    <th>{{ 'CALENDARIO.AZIONI' | translate }}</th>
  </tr>
  </thead>
  <tbody>
    <tr *ngFor="let event of events; let index = index">
      <td>
        <input
          type="text"
          class="form-control bg-light"
          [(ngModel)]="event.title">
      </td>
      <td>
        <input
          type="color"
          class="bg-light"
          [(ngModel)]="event.color.primary">
      </td>
      <td>
        <input
          type="color"
          class="bg-light"
          [(ngModel)]="event.color.secondary">
      </td>
      <td>
        <input
          class="form-control bg-light"
          type="text"
          [(ngModel)]="event.start"
          [altFormat]="event.start.toLocaleDateString('it-IT')"
          [altInput]="true"
          [convertModelValue]="true"
          [enableTime]="true"
          placeholder="Not set"
          mwlFlatpickr> <!--altFormat="F j, Y H:i"-->
      </td>
      <td>
        <input
          class="form-control bg-light"
          type="text"
          [(ngModel)]="event.end"
          [altFormat]="event.start.toLocaleDateString('it-IT')"
          [altInput]="true"
          [convertModelValue]="true"
          [enableTime]="true"
          placeholder="Not set"
          mwlFlatpickr><!--altFormat="F j, Y H:i"-->
      </td>
      <td>
        <button class="btn btn-info text-white" (click)="eventUpdated(event); refresh.next()">{{ 'CALENDARIO.AGGIORNA' | translate }}</button>
        <button class="btn btn-danger ml-1" (click)="deleteEvent(event, index); refresh.next()">{{ 'CALENDARIO.ELIMINA' | translate }}</button>
      </td>
    </tr>
  </tbody>

</table>

<ng-template #showEvent>
  <div class="modal-header">
    <h4 class="modal-title pull-left">{{modalData.event.title}}</h4>
    <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>

  <div class="modal-body">

    <div class="container" style="padding-bottom: 16px;">
      <div class="row">
        <div class="col-md-3 font-weight-bold">{{ 'CALENDARIO.INIZIA' | translate }}</div>
        <div class="col-md-9">{{formatData(modalData.event.start)}}</div>
      </div>
      <div class="row">
        <div class="col-md-3 font-weight-bold">{{ 'CALENDARIO.FINISCE' | translate }}</div>
        <div class="col-md-9">{{formatData(modalData.event.end)}}</div>
      </div>
    </div>


    <div class="modal-footer">
      <button type="button" class="btn btn-danger" (click)="closeModal()">{{ 'CALENDARIO.CLOSE' | translate }}</button>
    </div>
  </div>

  <!--<div class="modal-body">
    <form [formGroup]="updateForm">
      <div class="form-group row">
        <label class="col-sm-3 col-form-label"><b>title</b></label>
        <div class="col-sm-9">
          <input type="text" class="form-control" formControlName="eventTitle" placeholder="Chart title" disabled>
        </div>
      </div>

      <div class="form-group row">
        <label class="col-sm-3 col-form-label"><b>Starts at</b></label>
        <div class="col-sm-9">
          <input type="datetime-local" formControlName="dataStart" class="form-control" disabled>
        </div>
      </div>

      <div class="form-group row">
        <label class="col-sm-3 col-form-label"><b>Ends at</b></label>
        <div class="col-sm-9">
          <input type="datetime-local" formControlName="dataEnd" class="form-control" disabled>
        </div>
      </div>

      <div class="form-group row">
        <label class="col-sm-3 col-form-label"><b>Primary Color</b></label>
        <div class="col-sm-9">
          <input type="color" formControlName="primaryColor" class="form-control" style="height: 36px;" disabled>
        </div>
      </div>

      <div class="form-group row">
        <label class="col-sm-3 col-form-label"><b>Secondary Color</b></label>
        <div class="col-sm-9">
          <input type="color" formControlName="secondaryColor" class="form-control" style="height: 36px;" disabled>
        </div>
      </div>

      <div class="modal-footer">
        <button type="button" class="btn btn-danger" (click)="closeModal()">Close</button>
        &lt;!&ndash;<button type="submit" class="btn btn-success" (click)="eventUpdated(modalData.event)">Update</button>&ndash;&gt;
        &lt;!&ndash;<button type="submit" class="btn btn-danger" (click)="">Delete</button>&ndash;&gt;
      </div>

    </form>
  </div>-->
</ng-template>
