<div class="row bg-white rounded p-4 title-header">
  <!--<img src="../assets/img/facebook-head.png" style="height:80px; margin-top:-7px" />-->
  <i class="far fa-calendar-alt fa-4x" style="color: orange;"></i>
  <h1 class="display-4 my-auto ml-3">Calendar</h1>
</div>

<div class="row text-center bg-dark p-4 ml-0 mr-0 mt-5">
  <div class="col-md-4">
    <div class="btn-group">
      <div
        class="btn btn-outline-light"
        mwlCalendarPreviousView
        [view]="view"
        [(viewDate)]="viewDate"
        (viewDateChange)="activeDayIsOpen = false">
        Previous
      </div>
      <div
        class="btn btn-light"
        mwlCalendarToday
        [(viewDate)]="viewDate">
        Today
      </div>
      <div
        class="btn btn-outline-light"
        mwlCalendarNextView
        [view]="view"
        [(viewDate)]="viewDate"
        (viewDateChange)="activeDayIsOpen = false">
        Next
      </div>
    </div>
  </div>
  <div class="col-md-4">
    <h3>{{ viewDate | calendarDate:(view + 'ViewTitle'):'en' }}</h3>
  </div>
  <div class="col-md-4">
    <div class="btn-group">
      <div
        class="btn btn-primary"
        (click)="changeView(CalendarView.Month)"
        [class.active]="view === CalendarView.Month">
        Month
      </div>
      <div
        class="btn btn-primary"
        (click)="changeView(CalendarView.Week)"
        [class.active]="view === CalendarView.Week">
        Week
      </div>
      <div
        class="btn btn-primary"
        (click)="changeView(CalendarView.Day)"
        [class.active]="view === CalendarView.Day">
        Day
      </div>
    </div>
  </div>
</div>

<div [ngSwitch]="view" class="bg-white" >
  <mwl-calendar-month-view
    *ngSwitchCase="CalendarView.Month"
    [viewDate]="viewDate"
    [events]="events"
    [refresh]="refresh"
    [activeDayIsOpen]="activeDayIsOpen"
    (dayClicked)="dayClicked($event.day)"
    (eventClicked)="handleEvent('Clicked', $event.event)"
    (eventTimesChanged)="eventTimesChanged($event)">
  </mwl-calendar-month-view>
  <mwl-calendar-week-view
    *ngSwitchCase="CalendarView.Week"
    [viewDate]="viewDate"
    [events]="events"
    [refresh]="refresh"
    (eventClicked)="handleEvent('Clicked', $event.event)"
    (eventTimesChanged)="eventTimesChanged($event)">
  </mwl-calendar-week-view>
  <mwl-calendar-day-view
    *ngSwitchCase="CalendarView.Day"
    [viewDate]="viewDate"
    [events]="events"
    [refresh]="refresh"
    (eventClicked)="handleEvent('Clicked', $event.event)"
    (eventTimesChanged)="eventTimesChanged($event)">
  </mwl-calendar-day-view>
</div>

<br><br><br>

<h3>
  Edit events
  <button class="btn btn-primary float-right" (click)="addEvent()">Add new</button>
</h3>

<table class="table table-bordered bg-white mt-4">

  <thead>
  <tr>
    <th>Title</th>
    <th>Primary color</th>
    <th>Secondary color</th>
    <th>Starts at</th>
    <th>Ends at</th>
    <th>Remove</th>
  </tr>
  </thead>
  <tbody>
    <tr *ngFor="let event of events; let index = index">
      <td>
        <input
          type="text"
          class="form-control"
          [(ngModel)]="event.title"
          (keyup)="refresh.next()">
      </td>
      <td>
        <input
          type="color"
          [(ngModel)]="event.color.primary"
          (change)="refresh.next()">
      </td>
      <td>
        <input
          type="color"
          [(ngModel)]="event.color.secondary"
          (change)="refresh.next()">
      </td>
      <td>
        <input
          class="form-control"
          type="text"
          mwlFlatpickr
          [(ngModel)]="event.start"
          (ngModelChange)="refresh.next()"
          [altInput]="true"
          [convertModelValue]="true"
          [enableTime]="true"
          dateFormat="Y-m-dTH:i"
          altFormat="F j, Y H:i"
          placeholder="Not set">
      </td>
      <td>
        <input
          class="form-control"
          type="text"
          mwlFlatpickr
          [(ngModel)]="event.end"
          (ngModelChange)="refresh.next()"
          [altInput]="true"
          [convertModelValue]="true"
          [enableTime]="true"
          dateFormat="Y-m-dTH:i"
          altFormat="F j, Y H:i"
          placeholder="Not set">
      </td>
      <td>
        <button
          class="btn btn-danger"
          (click)="events.splice(index, 1); refresh.next()">
          Delete
        </button>
      </td>
    </tr>
  </tbody>

</table>

<ng-template #showEvent>
  <div class="modal-header">
    <h4 class="modal-title pull-left">{{modalData.event.title}}</h4>
    <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>

  <div class="modal-body">
    <form [formGroup]="updateForm">
      <div class="form-group row">
        <label class="col-sm-3 col-form-label"><b>Title</b></label>
        <div class="col-sm-9">
          <input type="text" class="form-control" formControlName="eventTitle" placeholder="Chart Title">
        </div>
      </div>

      <div class="form-group row">
        <label class="col-sm-3 col-form-label"><b>Starts at</b></label>
        <div class="col-sm-9">
          <input type="datetime-local" formControlName="dataStart" class="form-control">
        </div>
      </div>

      <div class="form-group row">
        <label class="col-sm-3 col-form-label"><b>Ends at</b></label>
        <div class="col-sm-9">
          <input type="datetime-local" formControlName="dataEnd" class="form-control">
        </div>
      </div>

      <div class="form-group row">
        <label class="col-sm-3 col-form-label"><b>Primary Color</b></label>
        <div class="col-sm-9">
          <input type="color" formControlName="primaryColor" class="form-control" style="height: 36px;">
        </div>
      </div>

      <div class="form-group row">
        <label class="col-sm-3 col-form-label"><b>Secondary Color</b></label>
        <div class="col-sm-9">
          <input type="color" formControlName="secondaryColor" class="form-control" style="height: 36px;">
        </div>
      </div>

      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" (click)="closeModal()">Cancel</button>
        <button type="submit" class="btn btn-success">Update</button>
        <button type="submit" class="btn btn-danger">Delete</button>
      </div>

    </form>
  </div>
</ng-template>
