<div class="container h-100">
  <alert *ngIf="just_signed | async" class="alert-registration" type="success" [dismissible]="true">
    <strong>Grandioso!</strong> Ti sei registrato correttamente, ora puoi effettuare l'accesso!
  </alert>

  <div class="row h-100 align-items-center">
    <div class="col-lg-10 col-md-8 mx-auto">
      <div class="card-group">
        <div class="card p-4">
          <div class="card-body">
            <h1>Login</h1>

            <app-feature-authentication-login-form></app-feature-authentication-login-form>
          </div>
        </div>

        <div class="card p-4 text-white bg-primary d-md-down-none" style="width:44%">
          <div class="card-body text-center">
            <div>
              <h1>Registrati</h1>
              <p style="font-size: 14px;">La piattaforma è in fase di testing. Non è quindi possibile registrarsi autonomamente.</p>
              <p>Se sei interessato a diventare un tester, scrivici a
                <a class="text-white font-weight-bold cursor-pointer" href="mailto:doutdes.unica@gmail.com">doutdes.unica@gmail.com</a>.
              </p>
              <!--<a [routerLink]="['../register']">-->
              <!--<button type="button" class="btn btn-primary active mt-3">Registrati ora</button>-->
              <!--</a>-->
            </div>
          </div>
        </div>

      </div>
    </div>
  </div>
</div>
