<div class="row rounded py-sm-4 title-header h-100">
  <div class="col-xl-4 col-md-4 col-sm-6 col-12 pl-0 d-sm-block d-none">
    <h2 class="my-auto float-left">Doutdes Analytics</h2>
  </div> <!-- Title -->
</div>

<div class="row">
  <div class="col-md-12 mt-3">
    <div class="card-group">
      <div class="card p-2" style="background-color: #fff;">
        <div class="card-body">
          <div class="row">
            <div class="col-md-4">
              <img src="/assets/img/home_charts.png" class="img-fluid" />
            </div>

            <div class="col-md-8">

            <h3>Benvenuto in Doutdes!</h3><br />

            <p>Doutdes è una piattaforma di analisi dati per imprese. Attraverso Doutdes, è possibile integrare i <b>dati
              di servizi esterni</b> come Google Analytics, Facebook e Instagram Insights, Youtube Studio e non solo.</p>

              <p>Grazie a Doutdes, dunque, potrai semplificare e centralizzare la gestione tue performance
              sui canali web e social, finalmente da un'unica interfaccia. L'intuitività e la facilità di utilizzo, inoltre, ti consentiranno
                di imparare rapidamente a <b>personalizzare gli strumenti</b> di Doutdes per le tue esigenze.</p>

              <p><b>Miglioramento continuo.</b> Doutdes è finanziato da Sardegna Ricerche e realizzato dal Dipartimento di Matematica
              e Informatica dell'Università di Cagliari, ed è in continua evoluzione. Periodicamente vengono integrate nuove
              funzionalità, grazie ai suggerimenti e feedback delle imprese che collaborano allo sviluppo.</p>

          </div>
        </div>
      </div>
    </div>
  </div>
</div>
</div>
