<div class="container h-100">
  <div class="row h-100 align-items-center">
    <div class="col-md-6 mx-auto">
      <div class="card-group">
        <div class="card p-4">
          <div class="card-body">
            <h2 class="text-center display-4 mb-4">Service Login </h2>
            <div class="form-group row">
              <!-- TODO add different visual if the user is already logged -->
              <div>
                <a *ngIf="!fbLogged" class="btn btn-lg text-white" href="http://localhost:443/fb/login?user_id=17" style="background-color: #3b5998;"><i class="fab fa-facebook-square "></i></a>
                <button *ngIf="!gaLogged" class="btn btn-lg text-white" (click)="signInWithFB()" style="background-color: #d62d20;"><i class="fab fa-google "></i></button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

