<!--<div toastContainer></div>-->
<div class="row rounded py-sm-4 title-header">
  <div class="col-xl-4 col-md-4 col-sm-6 col-12 pl-0 d-sm-block d-none">
    <h2 class="my-auto float-left">Youtube Analytics</h2>
  </div> <!-- title -->
  <div *ngIf="isApiKeySet && loaded && !this.drag" class="col-xl-8 col-md-8 col-sm-6 col-12 my-md-auto filter-div">
    <h5 class="d-inline-block d-sm-none mt-1">Filter</h5>
    <div class="btn-group float-right ml-lg-1 ml-sm-2 d-md-block d-none" dropdown>
      <button id="button-settings" dropdownToggle type="button" class="btn dropdown-toggle icon-card"
              aria-controls="button-settings"><span class="caret"><i class="fas fa-cog"></i></span>
      </button>

      <ul id="dropdown-settings" *dropdownMenu class="dropdown-menu dropdown-menu-right" role="menu"
          aria-labelledby="button-settings">

        <li class="dropdown-item cursor-pointer" (click)="optionModal(deleteCharts)">
          <i class="fas fa-trash-alt mr-2"></i>{{ 'DASHBOARD.CLEAR' | translate }}
        </li>

        <li class="dropdown-item cursor-pointer" (click)="htmltoPDF()">
          <i class="fas fa-file-pdf mr-2"></i>{{ 'DASHBOARD.ESPORT' | translate }}
        </li>

        <li class="dropdown-item cursor-pointer" (click)="dragAndDrop()">
          <i class="fas fa-arrows-alt mr-2"></i>{{ 'DASHBOARD.ORDER' | translate }}
        </li>

      </ul>
    </div> <!-- PDF export -->
    <div class="btn-group float-right d-md-block d-none" dropdown>
      <button id="button-date-filter" dropdownToggle type="button" class="btn dropdown-toggle icon-card"
              aria-controls="dropdown-date-filter"><span class="caret">{{dateChoice}}</span>
      </button>

      <ul id="dropdown-date-filter" *dropdownMenu class="dropdown-menu dropdown-menu-right" role="menu"
          aria-labelledby="button-date-filter">
        <li class="dropdown-item" (click)="changeData(FILTER_DAYS.seven)">{{ 'DASHBOARD.LAST7' | translate }}</li>
        <li class="dropdown-item" (click)="changeData(FILTER_DAYS.thirty)">{{ 'DASHBOARD.LAST30' | translate }}</li>
        <li class="dropdown-item" (click)="changeData(FILTER_DAYS.ninety)">{{ 'DASHBOARD.LAST90' | translate }}</li>
        <!--<li class="dropdown-item">Personalizzato</li>-->
      </ul>
    </div> <!-- TODO Create a component custom like card -->
    <input type="text" class="form-control float-right mr-lg-1 mr-sm-2 filterDatePicker"
           [(ngModel)]="bsRangeValue"
           [minDate]="minDate"
           [maxDate]="maxDate"
           [bsConfig]="{ rangeInputFormat: 'DD/MM/YYYY', containerClass: 'theme-red' }"
           (bsValueChange)="onValueChange($event)"
           bsDaterangepicker> <!-- Date picker -->
  </div>
</div> <!-- Header -->

<div *ngIf="isApiKeySet && loaded && !this.drag" class="row px-3 pt-3">
  <app-minicard *ngFor="let mini of miniCards" [minicard]="mini" [dtype]="D_TYPE.YT"></app-minicard>
</div> <!-- Mini cards -->

<div *ngIf="dashErrors.noPages" class="alert alert-danger px-3 pt-3 mt-3 mb-0" role="alert">
  <h5><i class="fas fa-exclamation-triangle fa-2x float-left mt-1 mr-3"></i>{{ 'DASHBOARD.N0_YOUTUBE' | translate }}</h5>
</div> <!-- ERR => No pages -->

<div *ngIf="this.drag" class="alert alert-primary mt-3 mb-0 py-sm-4" role="alert">
  <i class="fas fa-2x fa-people-carry mr-3" style=""></i>
  <h5 class="mb-0 d-inline-block mr-auto">{{ 'DASHBOARD.MODAL_ORDER' | translate }}</h5>
  <button type="button" class="btn btn-success ml-lg-1 ml-sm-2 d-md-inline-block d-none float-right" (click)="optionModal(save)">{{ 'LANGUAGE.SAVE' | translate }}</button>
  <button type="button" class="btn btn-secondary ml-lg-1 ml-sm-2 d-md-inline-block d-none float-right" (click)="optionModal(deactivates)">{{ 'LANGUAGE.ANNULLA' | translate }}</button>
</div> <!-- Drag And Drop -->

<div [dragula]="'REVERT'" [dragulaModel]="chartArray$" (dragulaModelChange)="onMovement($event, false)" *ngIf="isApiKeySet && !dashErrors.noPages && loaded && drag" class="row" style="padding-bottom: 30px" >
  <ng-container *ngIf="chartArray$.length > 0">
    <div  *ngFor="let chart of chartArray$" class="col-lg-6 pt-3 card-container vamp">
      <app-card [dashChart]="chart"></app-card>
    </div>
  </ng-container>
</div> <!-- Dashboard card whith drag true -->

<div *ngIf="isApiKeySet && loaded && !drag" class="row" style="padding-bottom: 30px">
  <ng-container *ngIf="chartArray$.length > 0">
    <div *ngFor="let chart of chartArray$" class="col-lg-6 pt-3 card-container">
      <app-card [dashChart]="chart"></app-card>
    </div>
  </ng-container>

  <ng-template *ngIf="!loading && chartArray$.length == 0 && isApiKeySet">
    <h5 class="col-md-12 mt-3">{{ 'DASHBOARD.ALERT_3' | translate }}</h5>
  </ng-template>

  <app-emptycard
    *ngIf="!loading && isApiKeySet" class="col-lg-6 col-xl-6" [dashboard_data]="HARD_DASH_DATA"
    [ngStyle]="{'padding-left': nChartEven() ? '15px' : '0.5rem', 'padding-right': nChartEven() ? '0.5rem' : '15px'}">
  </app-emptycard>
</div> <!-- Chart cards -->

<div *ngIf="!isApiKeySet" class="row">
  <div class="col-md-12 mt-3">
    <div class="card-group">
      <div class="card p-2" style="background-color: #eee;">
        <div class="card-body">
          <i class="fas fa-crow mr-1" style="font-size:30pt"></i><h5 class="mt-3"> {{ 'DASHBOARD.ALERT' | translate }} <b>{{ 'DASHBOARD.SORGENTE' | translate }}</b> "Google".</h5><br/>
          <button class="btn btn-success ml-1" [routerLink]="['/preferences/api-keys/insert']">{{ 'DASHBOARD.ADD_SORGENTE' | translate }}</button>
        </div>
      </div>
    </div>
  </div>
</div>

<ngx-loading [show]="loading"></ngx-loading>

<ng-template #reportWait>
  <div class="modal-header">
    <h4 class="modal-title pull-left"><i class="fas fa-hourglass-half"></i> {{ 'DASHBOARD.ESPORTA' | translate }}</h4>
  </div>

  <div class="modal-body">{{ 'DASHBOARD.NEW_REPORT' | translate }}</div>
</ng-template>

<ng-template #selectView>
  <div class="modal-header">
    <h4 class="modal-title pull-left"><i class="fas fa-flask mr-3"></i>{{ 'DASHBOARD.SELECT_IMPORT' | translate }}</h4>
  </div>

  <div class="modal-body">
    <form [formGroup]="selectViewForm" (ngSubmit)="selectViewSubmit()">
      <div class="form-group row">
        <p class="col-sm-12 text-justify">{{ 'DASHBOARD.YOUTUBE_PAGE' | translate }}</p>
        <div class="col-sm-12">
          <select class="form-control mx-auto" style="width: 70%;" formControlName="view_id" [ngClass]="{ 'is-invalid': submitted && selectViewForm.controls['view_id'].errors }">
            <!--<option [value]="viewList[0].id" selected>{{viewList[0].name}}</option>-->
            <option *ngFor="let view of viewList" [value]="view.id">{{view.name}}</option>
          </select>

          <div *ngIf="this.submitted && selectViewForm.controls['view_id'].errors" class="invalid-feedback">
            <div>{{ 'DASHBOARD.YOUTUBE_PAGE_ALERT' | translate }}</div>
          </div>
        </div>
      </div>

      <div class="modal-footer pr-0 pb-0">
        <button type="submit" class="btn btn-success">{{ 'LANGUAGE.CONFERMA' | translate }}</button>
      </div>
    </form>
  </div>
</ng-template>

<ng-template #deleteCharts>
  <div class="modal-header">
    <h4 class="modal-title pull-left"><i class="fas fa-trash mr-3"></i> {{ 'DASHBOARD.DELETE' | translate }}</h4>
    <button type="button" class="close pull-right" aria-label="Close" (click)="closeModal()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>

  <div class="modal-body">{{ 'DASHBOARD.CLEAR_CONFERMA' | translate }}</div>

  <div class="modal-footer">
    <button type="button" class="btn btn-danger" (click)="clearDashboard()">{{ 'DASHBOARD.CLEAR_CONFERMA_OK' | translate }}</button>
    <button type="button" class="btn btn-success" (click)="closeModal()">{{ 'DASHBOARD.CLEAR_CONFERMA_NO' | translate }}</button>
  </div>

</ng-template> <!-- Clear Dashboard -->

<ng-template #save>
  <div class="modal-header">
    <h4 class="modal-title pull-left"><i class="fas fa-save mr-3"></i> {{ 'DASHBOARD.SAVE' | translate }}</h4>
    <button type="button" class="close pull-right" aria-label="Close" (click)="closeModal()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>

  <div class="modal-body">{{ 'DASHBOARD.CONFERMA_SALVA' | translate }}</div>

  <div class="modal-footer">
    <button type="button" class="btn btn-danger" (click)="closeModal()">{{ 'DASHBOARD.CONFERMA_SALVA_NO' | translate }}</button>
    <button type="button" class="btn btn-success" (click)="onMovement(null, true)">{{ 'LANGUAGE.SI' | translate }}</button>
  </div>

</ng-template> <!-- Save Drag And Drop -->

<ng-template #deactivates>
  <div class="modal-header">
    <h4 class="modal-title pull-left"><i class="fas fa-trash mr-3"></i>{{ 'DASHBOARD.CONFERMA_SALVA_ANNULLA' | translate }}</h4>
    <button type="button" class="close pull-right" aria-label="Close" (click)="closeModal()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>

  <div class="modal-body">
    <p>{{ 'DASHBOARD.CONFERMA_SALVA_ANNULLA_ALERT' | translate }}</p>
    <p style="text-align: justify"><i class="fas fa-exclamation-circle mr-1" style="color: #ad0009; font-size:14pt"></i><b style="color: #ad0009;">{{ 'DASHBOARD.OPERAZIONE_PERICOLOSO' | translate }}</b>: {{ 'DASHBOARD.CONFERMA_SALVA_ANNULLA_ALERT_TEXT' | translate }}
  </div>

  <div class="modal-footer">
    <button type="button" class="btn btn-success" (click)="checkDrag(); closeModal()">{{ 'DASHBOARD.ANNULLA' | translate }}</button>
    <button type="button" class="btn btn-danger" (click)="closeModal()">{{ 'DASHBOARD.NO_ANNULLA' | translate}}</button>
  </div>

</ng-template> <!-- Deactivates Drag And Drop -->
