<!--Se è sloggato, false a lg-->
<app-header
  [fixed]="true"
  [navbarBrandFull]="{src: 'assets/img/brand/logo-black.png', width: 89, height: 25, alt: 'DoUtDes Logo'}"
  [navbarBrandMinimized]="{src: 'assets/img/brand/logo-black.png', width: 30, height: 30, alt: 'DoUtDes Logo'}"
  [sidebarToggler]="false"
  [asideMenuToggler]="false">

  <ul class="nav navbar-nav d-md-down-none mr-auto">
    <li class="nav-item px-3">
      <a class="nav-link" [routerLink]="['/authentication/register']">Sign In</a>
    </li>
    <li class="nav-item px-3">
      <a class="nav-link" [routerLink]="['/authentication/login']">Login</a>
    </li>
  </ul>
</app-header>
