<div class="form-inline mb-2">
  <label class="my-1 mr-2" for="userType">Type of user</label>
  <select (change)="selectChangeHandler($event)" class="custom-select my-1 mr-sm-2" id="userType">
    <option value="company">Company</option>
    <option value="editor" selected>Editor</option>
    <option value="analyst">Analyst</option>
  </select>
</div>

<form [formGroup]="registrationForm" (ngSubmit)="onSubmit()">

  <div *ngIf="this.selectedUser === 'company'">
    <div class="form-row">
      <div class="input-group mb-3 col-md-6">
        <div class="input-group-prepend">
          <span class="input-group-text"><i class="icon-briefcase"></i></span>
        </div>
        <input type="text" formControlName="company_name" class="form-control" placeholder="Company Name"
               [ngClass]="{ 'is-invalid': submitted && f.last_name.errors }"/>

        <div *ngIf="this.submitted && f.company_name.errors" class="invalid-feedback">
          <div *ngIf="f.company_name.errors.required">Company Name is required</div>
        </div>
      </div>
      <div class="input-group mb-3 col-md-6">
        <div class="input-group-prepend">
          <span class="input-group-text"><i class="icon-chart"></i></span>
        </div>
        <input type="text" formControlName="vat_number" class="form-control" placeholder="Vat Number" required
               [ngClass]="{ 'is-invalid': submitted && f.last_name.errors }"/>

        <div *ngIf="this.submitted && f.vat_number.errors" class="invalid-feedback">
          <div *ngIf="f.vat_number.errors.required">Vat Number is required</div>
        </div>
      </div>
    </div>
  </div> <!-- Vat Number and Company Name only for companies users -->

  <div class="form-row">
    <div class="input-group mb-4 col-md-6">
      <div class="input-group-prepend">
        <span class="input-group-text"><i class="icon-user"></i></span>
      </div>
      <input type="text" formControlName="first_name" class="form-control" placeholder="First Name"
             [ngClass]="{ 'is-invalid': submitted && f.last_name.errors }"/>

      <div *ngIf="submitted && f.first_name.errors" class="invalid-feedback">
        <div *ngIf="f.first_name.errors.required">First Name is required</div>
        <div *ngIf="f.first_name.errors.maxlength">First name must be long at max 40 characters</div>
      </div>
    </div>
    <div class="input-group mb-4 ml-auto col-md-6">
      <div class="input-group-prepend">
        <span class="input-group-text"><i class="icon-user"></i></span>
      </div>
      <input type="text" formControlName="last_name" class="form-control" placeholder="Last Name"
             [ngClass]="{ 'is-invalid': submitted && f.last_name.errors }"/>

      <div *ngIf="this.submitted && f.last_name.errors" class="invalid-feedback">
        <div *ngIf="f.last_name.errors.required">Last Name is required</div>
        <div *ngIf="f.last_name.errors.maxlength">Last name must be long at max 40 characters</div>
      </div>
    </div>

  </div> <!-- First and last name -->
  <div class="form-row">
    <div class="input-group mb-3 col-md-6">
      <div class="input-group-prepend">
        <span class="input-group-text"><i class="icon-location-pin"></i></span>
      </div>
      <input type="text" formControlName="birth_place" class="form-control" placeholder="Birth Place"
             [ngClass]="{ 'is-invalid': submitted && f.birth_place.errors }"/>

      <div *ngIf="submitted && f.birth_place.errors" class="invalid-feedback">
        <div *ngIf="f.birth_place.errors.required">Birth place is required</div>
        <div *ngIf="f.birth_place.errors.maxlength">Birth place must be long at max 50 characters</div>
      </div>
    </div>
    <div class="input-group mb-3 col-md-6">
      <div class="input-group-prepend">
        <span class="input-group-text"><i class="icon-calendar"></i></span>
      </div>
      <input type="date" formControlName="birth_date" class="form-control" placeholder="Birth Date"
             [ngClass]="{ 'is-invalid': submitted && f.birth_date.errors }"/>

      <div *ngIf="submitted && f.birth_date.errors" class="invalid-feedback">
        <div *ngIf="f.birth_date.errors.required">Birth date is required</div>
      </div>
    </div>
  </div> <!-- Birth place and birth date -->
  <div class="form-row">
    <div class="input-group mb-3 col-md-6">
      <div class="input-group-prepend">
        <span class="input-group-text"><i class="fas fa-barcode"></i></span>
      </div>
      <input type="text" formControlName="fiscal_code" class="form-control" placeholder="Fiscal Code"
             [ngClass]="{ 'is-invalid': submitted && f.fiscal_code.errors }"/>

      <div *ngIf="submitted && f.fiscal_code.errors" class="invalid-feedback">
        <div *ngIf="f.fiscal_code.errors.required">Fiscal code is required</div>
        <div *ngIf="f.fiscal_code.errors.maxlength">Fiscal code must be long at max 16 characters</div>
        <div *ngIf="f.fiscal_code.errors.InvalidFiscalCode">Please insert a valid fiscal code</div>
      </div>

    </div> <!-- Fiscal code -->
  </div> <!-- Fiscal Code -->
  <div class="form-row">
    <div class="input-group mb-3 col-md-6">
      <div class="input-group-prepend">
        <span class="input-group-text"><i class="fas fa-map-marker"></i></span>
      </div>
      <input type="text" formControlName="address" class="form-control" placeholder="Address"
             [ngClass]="{ 'is-invalid': submitted && f.address.errors }"/>

      <div *ngIf="submitted && f.address.errors" class="invalid-feedback">
        <div *ngIf="f.address.errors.required">Address is required</div>
        <div *ngIf="f.address.errors.maxlength">Address must be long at max 100 characters</div>
      </div>
    </div>
    <div class="input-group mb-3 col-md-6">
      <div class="input-group-prepend">
        <span class="input-group-text"><i class="fas fa-globe"></i></span>
      </div>
      <input type="text" formControlName="city" class="form-control" placeholder="Residence City"
             [ngClass]="{ 'is-invalid': submitted && f.city.errors }"/>

      <div *ngIf="submitted && f.city.errors" class="invalid-feedback">
        <div *ngIf="f.city.errors.required">City is required</div>
        <div *ngIf="f.city.errors.maxlength">Birth place must be long at max 50 characters</div>
      </div>
    </div>
  </div> <!-- Address and Residence City -->
  <div class="form-row">
    <div class="input-group mb-3 col-md-6">
      <div class="input-group-prepend">
        <span class="input-group-text"><i class="fas fa-map"></i></span>
      </div>
      <input type="text" formControlName="province" class="form-control" placeholder="Province"
             [ngClass]="{ 'is-invalid': submitted && f.province.errors }" maxlength="2"/>

      <div *ngIf="submitted && f.province.errors" class="invalid-feedback">
        <div *ngIf="f.province.errors.required">Province is required</div>
        <div *ngIf="f.province.errors.maxlength">Province must be long at max 2 characters</div>
      </div>
    </div>
    <div class="input-group mb-3 col-md-6">
      <div class="input-group-prepend">
        <span class="input-group-text"><i class="fas fa-code"></i></span>
      </div>
      <input type="text" formControlName="zip_code" class="form-control" placeholder="Zip Code"
             [ngClass]="{ 'is-invalid': submitted && f.zip_code.errors }" maxlength="5"/>

      <div *ngIf="submitted && f.zip_code.errors" class="invalid-feedback">
        <div *ngIf="f.zip_code.errors.required">Zip Code is required</div>
        <div *ngIf="f.zip_code.errors.maxlength">Zip Code must be long at max 5 numbers</div>
      </div>
    </div>
  </div> <!-- Province and Zip Code-->
  <div class="form-row">
    <div class="input-group mb-3 col-md-6">
      <div class="input-group-prepend">
        <span class="input-group-text"><i class="fas fa-user-tie"></i></span>
      </div>
      <input type="text" formControlName="username" class="form-control" placeholder="Username"
             [ngClass]="{ 'is-invalid': submitted && f.username.errors }"/>

      <div *ngIf="submitted && f.username.errors" class="invalid-feedback">
        <div *ngIf="f.username.errors.required">Username is required</div>
        <div *ngIf="f.username.errors.maxlength">Username must be long at max 20 characters</div>
      </div>
    </div>
    <div class="input-group mb-3 col-md-6">
      <div class="input-group-prepend">
        <span class="input-group-text">@</span>
      </div>
      <input type="email" formControlName="email" class="form-control" placeholder="Email" [email]="true"
             [ngClass]="{ 'is-invalid': submitted && f.email.errors }"/>

      <div *ngIf="submitted && f.email.errors" class="invalid-feedback">
        <div *ngIf="f.email.errors.required">Email is required</div>
        <div *ngIf="f.email.errors.email">Please insert a valid email</div>
      </div>

    </div>
  </div> <!-- Email and Username -->
  <div class="form-row">
    <div class="input-group mb-3 col-md-6">
      <div class="input-group-prepend">
        <span class="input-group-text"><i class="icon-lock"></i></span>
      </div>
      <input type="password" formControlName="password" class="form-control" placeholder="Password" minlength="10"
             [ngClass]="{ 'is-invalid': submitted && f.password.errors }"/>

      <div *ngIf="submitted && f.password.errors" class="invalid-feedback">
        <div *ngIf="f.password.errors.required">Password is required</div>
        <div *ngIf="f.password.errors.minlength">Password must be long at least 10 characters</div>
      </div>
    </div>
    <div class="input-group mb-4 col-md-6">
      <div class="input-group-prepend">
        <span class="input-group-text"><i class="icon-lock"></i></span>
      </div>
      <input type="password" formControlName="r_password" class="form-control" placeholder="Repeat password"
             minlength="10">
    </div>

    <div class="alert alert-danger col-md-12"
         *ngIf="submitted && f.r_password.errors?.MatchPassword">Password not match
    </div>

    <button [disabled]="loading" class="btn btn-block btn-success">Create Account</button>
  </div> <!-- Password and repeated password -->
</form>
