<div class="form-inline mb-2">
  <label class="my-1 mr-2" for="userType">Tipo di account</label>
  <select (change)="selectChangeHandler($event)" class="custom-select my-1 mr-sm-2" id="userType">
    <option value="company" selected>Impresa</option>
    <option value="editor">Editor</option>
    <option value="analyst">Analista</option>
  </select>
</div>

<form [formGroup]="registrationForm" class="" (ngSubmit)="onSubmit()">

  <div *ngIf="this.selectedUser === 'company'">

    <h5 class="py-3">Dati impresa:</h5>
    <div class="form-row">
      <div class="input-group mb-4 col-md-6">
        <div class="input-group-prepend">
          <span class="input-group-text"><i class="mx-auto mx-auto icon-briefcase"></i></span>
        </div>
        <input type="text" formControlName="company_name" class="form-control" placeholder="Ragione sociale"
               [ngClass]="{ 'is-invalid': submitted && f.company_name.errors }"/>

        <div *ngIf="this.submitted && f.company_name.errors" class="invalid-feedback">
          <div *ngIf="f.company_name.errors.required">Ragione sociale obbligatoria</div>
        </div>
      </div>
      <div class="input-group mb-4 col-md-6">
        <div class="input-group-prepend">
          <span class="input-group-text"><i class="mx-auto icon-chart"></i></span>
        </div>
        <input type="text" formControlName="vat_number" class="form-control" placeholder="Partita IVA" required
               [ngClass]="{ 'is-invalid': submitted && f.vat_number.errors }"/>

        <div *ngIf="this.submitted && f.vat_number.errors" class="invalid-feedback">
          <div *ngIf="f.vat_number.errors.required">Partita IVA obbligatoria</div>
        </div>
      </div>
    </div>

    <div class="form-row">
      <div class="input-group mb-4 col-md-6">
        <div class="input-group-prepend">
          <span class="input-group-text"><i class="mx-auto fas fa-map-marker"></i></span>
        </div>
        <input type="text" formControlName="address" class="form-control" placeholder="Indirizzo della sede"
               [ngClass]="{ 'is-invalid': submitted && f.address.errors }"/>

        <div *ngIf="this.submitted && f.address.errors" class="invalid-feedback">
          <div *ngIf="f.address.errors.required">Indirizzo sociale obbligatorio</div>
        </div>
      </div>


      <div class="input-group mb-4 col-md-6">
        <div class="input-group-prepend">
          <span class="input-group-text"><i class="mx-auto fas fa-globe"></i></span>
        </div>
        <input type="text" formControlName="city" class="form-control" placeholder="Città"
               [ngClass]="{ 'is-invalid': submitted && f.city.errors }"/>

        <div *ngIf="submitted && f.city.errors" class="invalid-feedback">
          <div *ngIf="f.city.errors.required">Città richiesta</div>
          <div *ngIf="f.city.errors.maxlength">Il nome della città deve essere di massimo 50 caratteri</div>
        </div>
      </div>
    </div> <!-- Address and Residence City -->
    <div class="form-row mb-4">
      <div class="input-group mb-4 col-md-6">
        <div class="input-group-prepend">
          <span class="input-group-text"><i class="mx-auto fas fa-map"></i></span>
        </div>
        <input type="text" formControlName="province" class="form-control" placeholder="Provincia"
               [ngClass]="{ 'is-invalid': submitted && f.province.errors }" maxlength="2"/>

        <div *ngIf="submitted && f.province.errors" class="invalid-feedback">
          <div *ngIf="f.province.errors.required">Sigla della provincia obbligatoria</div>
          <div *ngIf="f.province.errors.maxlength">La sigla della provincia deve essere di massimo 2 caratteri</div>
        </div>
      </div>
      <div class="input-group mb-4 col-md-6">
        <div class="input-group-prepend">
          <span class="input-group-text"><i class="mx-auto fas fa-code"></i></span>
        </div>
        <input type="text" formControlName="zip" class="form-control" placeholder="CAP"
               [ngClass]="{ 'is-invalid': submitted && f.zip.errors }" maxlength="5"/>

        <div *ngIf="submitted && f.zip.errors" class="invalid-feedback">
          <div *ngIf="f.zip.errors.required">CAP obbligatorio</div>
          <div *ngIf="f.zip.errors.maxlength">Il CAP deve essere di massimo 5 caratteri</div>
        </div>
      </div>
    </div> <!-- Province and Zip Code-->

    <h5 class="pb-3">Dati account:</h5>

    <div class="form-row mb-3">
      <div class="input-group mb-4 col-md-6">
        <div class="input-group-prepend">
          <span class="input-group-text"><i class="mx-auto icon-user"></i></span>
        </div>
        <input type="text" formControlName="first_name" class="form-control" placeholder="Nome del titolare"
               [ngClass]="{ 'is-invalid': submitted && f.last_name.errors }"/>

        <div *ngIf="submitted && f.first_name.errors" class="invalid-feedback">
          <div *ngIf="f.first_name.errors.required">Nome obbligatorio</div>
          <div *ngIf="f.first_name.errors.maxlength">Il nome deve essere di massimo 40 caratteri</div>
        </div>
      </div>
      <div class="input-group mb-4 ml-auto col-md-6">
        <div class="input-group-prepend">
          <span class="input-group-text"><i class="mx-auto icon-user"></i></span>
        </div>
        <input type="text" formControlName="last_name" class="form-control" placeholder="Cognome del titolare"
               [ngClass]="{ 'is-invalid': submitted && f.last_name.errors }"/>

        <div *ngIf="this.submitted && f.last_name.errors" class="invalid-feedback">
          <div *ngIf="f.last_name.errors.required">Cognome obbligatorio</div>
          <div *ngIf="f.last_name.errors.maxlength">Il cognome deve essere di massimo 40 caratteri</div>
        </div>
      </div>

    </div> <!-- First and last name
    <div class="form-row">
      <div class="input-group mb-4 col-md-6">
        <div class="input-group-prepend">
          <span class="input-group-text"><i class="mx-auto icon-location-pin"></i></span>
        </div>
        <input type="text" formControlName="birth_place" class="form-control" placeholder="Luogo di Nascita"
               [ngClass]="{ 'is-invalid': submitted && f.birth_place.errors }"/>

        <div *ngIf="submitted && f.birth_place.errors" class="invalid-feedback">
          <div *ngIf="f.birth_place.errors.required">Luogo di Nascita</div>
          <div *ngIf="f.birth_place.errors.maxlength">Il luogo di nascita deve essere di massimo 50 caratteri</div>
        </div>
      </div>
      <div class="input-group mb-4 col-md-6">
        <div class="input-group-prepend">
          <span class="input-group-text"><i class="mx-auto icon-calendar"></i></span>
        </div>
        <input type="date" formControlName="birth_date" class="form-control" placeholder="Data di nascita"
               [ngClass]="{ 'is-invalid': submitted && f.birth_date.errors }"/>

        <div *ngIf="submitted && f.birth_date.errors" class="invalid-feedback">
          <div *ngIf="f.birth_date.errors.required">Data di nascita obbligatoria</div>
        </div>
      </div>
    </div> <!-- Birth place and birth date --
    <div class="form-row">
      <div class="input-group mb-4 col-md-6">
        <div class="input-group-prepend">
          <span class="input-group-text"><i class="mx-auto fas fa-barcode"></i></span>
        </div>
        <input type="text" formControlName="fiscal_code" class="form-control" placeholder="Codice Fiscale"
               [ngClass]="{ 'is-invalid': submitted && f.fiscal_code.errors }"/>

        <div *ngIf="submitted && f.fiscal_code.errors" class="invalid-feedback">
          <div *ngIf="f.fiscal_code.errors.required">Codice Fiscale obbligatorio</div>
          <div *ngIf="f.fiscal_code.errors.maxlength">Il codice fiscale è di massimo 16 caratteri</div>
          <div *ngIf="f.fiscal_code.errors.InvalidFiscalCode">Inserisci un codice fiscale valido</div>
        </div>

      </div>
    </div> <!-- Fiscal Code -->

    <div class="form-row">
      <div class="input-group mb-4 col-md-6">
        <div class="input-group-prepend">
          <span class="input-group-text"><i class="mx-auto fas fa-user-tie"></i></span>
        </div>
        <input type="text" formControlName="username" class="form-control" placeholder="Username"
               [ngClass]="{ 'is-invalid': submitted && f.username.errors }"/>

        <div *ngIf="submitted && f.username.errors" class="invalid-feedback">
          <div *ngIf="f.username.errors.required">Username obbligatorio</div>
          <div *ngIf="f.username.errors.maxlength">L'username deve essere di massimo 40 caratteri</div>
        </div>
      </div>
      <div class="input-group mb-4 col-md-6">
        <div class="input-group-prepend">
          <span class="input-group-text"><i class="mx-auto fas fa-at"></i></span>
        </div>
        <input type="email" formControlName="email" class="form-control" placeholder="Email" [email]="true"
               [ngClass]="{ 'is-invalid': submitted && f.email.errors }"/>

        <div *ngIf="submitted && f.email.errors" class="invalid-feedback">
          <div *ngIf="f.email.errors.required">Email obbligatoria</div>
          <div *ngIf="f.email.errors.email">Inserisci una email valida</div>
        </div>

      </div>
    </div> <!-- Email and Username -->
    <div class="form-row">
      <div class="input-group mb-4 col-md-6">
        <div class="input-group-prepend">
          <span class="input-group-text"><i class="mx-auto icon-lock"></i></span>
        </div>
        <input type="password" formControlName="password" class="form-control" placeholder="Password" minlength="10"
               [ngClass]="{ 'is-invalid': submitted && f.password.errors }"/>

        <div *ngIf="submitted && f.password.errors" class="invalid-feedback">
          <div *ngIf="f.password.errors.required">Password obbligatoria</div>
          <div *ngIf="f.password.errors.minlength">La password deve contenere almeno 10 caratteri</div>
        </div>
      </div>
      <div class="input-group mb-4 col-md-6">
        <div class="input-group-prepend">
          <span class="input-group-text"><i class="mx-auto icon-lock"></i></span>
        </div>
        <input type="password" formControlName="r_password" class="form-control" placeholder="Ripeti password"
               minlength="10">
      </div>

      <div class="alert alert-danger col-md-12"
           *ngIf="submitted && f.r_password.errors?.MatchPassword">Le password non coincidono
      </div>
    </div>



    <button [disabled]="loading" class="btn btn-block btn-success mx-auto" style="width:40%">Crea account</button>
  </div> <!-- Password and repeated password -->
</form>
