<div class="row bg-white rounded p-4 title-header">
  <i class="far fa-calendar-alt fa-4x" style="color: red;"></i>
  <h1 class="display-4 my-auto ml-3">Tutorial</h1>
</div>

<div>
  <p>1) Go to <a href="https://console.developer.google.com">console.developer.google.com</a> and create a new project:</p>
  <p><img src="../assets/img/tutorialGoogle/02-NewProject.png" style="max-width: 500px" title="Click here to zoom"/></p>
  <p>2) From the dashboard click on <b>Enable APIs and services</b>:</p>
  <p><img src="../assets/img/tutorialGoogle/03-APIEnable.png" style="max-width: 500px" title="Click here to zoom"/></p>
  <p>3) From the list search for <em>Google Analytics Reporting API</em> and <em>Analytics API</em> and <b>enable</b> it:</p>
  <p><img src="../assets/img/tutorialGoogle/04-AnalyticsReporting.png" style="max-width: 500px" title="Click here to zoom"/></p>
  <p><img src="../assets/img/tutorialGoogle/05-Analytics.png" style="max-width: 500px" title="Click here to zoom"/></p>
  <p>4) Go back to the dashboard and click on <em>Credential</em> -> <em>Create credential</em> and choose <b>Service account key</b>:</p>
  <p><img src="../assets/img/tutorialGoogle/06-ServiceAccountKey.png" style="max-width: 500px" title="Click here to zoom"/></p>
  <p>5) Fill the form and choose <b>JSON</b> key type. Once filled save the JSON file on your PC:</p>
  <p><img src="../assets/img/tutorialGoogle/07-JSON.png" style="max-width: 500px" title="Click here to zoom"/></p>
  <p>6) Now go to <em>DoUtDes</em> platform and under <em>preferences</em> -> <em>Configure data sources</em> click on <b>Add new data source</b>:</p>
  <p><img src="../assets/img/tutorialGoogle/08-doutdesPreferences.png" style="max-width: 500px" title="Click here to zoom"/></p>
  <p>7) Choose <b>Google Analytics</b> and upload your <em>JSON</em> file clicking on <b>Insert</b>:</p>
  <p><img src="../assets/img/tutorialGoogle/09-AddJSON.png" style="max-width: 500px" title="Click here to zoom"/></p>
  <p>8) Copy this service account e-mail:</p>
  <p><img src="../assets/img/tutorialGoogle/10-CopyEmail.png" style="max-width: 500px" title="Click here to zoom"/></p>
  <p>9) Go to <a href="https://analytics.google.com">analytics.google.com</a> and under <em>Administration</em> -> <em>View</em> click on <b>User Management</b> like the image below:</p>
  <p><img src="../assets/img/tutorialGoogle/11-analyticsManagment.png" style="max-width: 500px" title="Click here to zoom"/></p>
  <p>10) Click on <b>+</b> button and <b>Add new user</b>:</p>
  <p><img src="../assets/img/tutorialGoogle/12-AddUser.png" style="max-width: 500px" title="Click here to zoom"/></p>
  <p>11) Paste the service account email and let <em>read and analysis</em> chosen:</p>
  <p><img src="../assets/img/tutorialGoogle/13-addEmail.png" style="max-width: 500px" title="Click here to zoom"/></p>
  <p>12) Once finished, the Google Analytics charts are available on <em>DoUtDes</em> platform like the image below:</p>
  <p><img src="../assets/img/tutorialGoogle/14-end.png" style="max-width: 500px" title="Click here to zoom"/></p>
</div>

