<div class="row rounded py-sm-4 title-header">
  <div class="col-xl-4 col-md-4 col-sm-6 col-12 pl-0 d-sm-block d-none">
    <h2 class="my-auto float-left">Doutdes Analytics</h2>
  </div> <!-- title -->
</div>

<div class="row">
  <div class="col-md-12 my-3">
    <div class="card-group">
      <div class="card p-2" style="background-color: #fff;">
        <div class="card-body">
          <div class="row">
            <div class="col-md-4">
              <img src="/assets/img/home_charts.png" class="img-fluid"/>
            </div>

            <div class="col-md-8">

              <h3>{{ 'HOME.TITLE' | translate }}</h3>

              <p>{{ 'HOME.DESCRIPTION' | translate }}<i> {{ 'HOME.DESCRIPTION_1' | translate }}</i> {{ 'HOME.DESCRIPTION_2' | translate }}</p>

              <p>{{ 'HOME.DESCRIPTION2' | translate }} <i> {{ 'HOME.DESCRIPTION2_1' | translate }}</i> {{ 'HOME.DESCRIPTION2_2' | translate }} </p>

              <p>{{ 'HOME.DESCRIPTION3' | translate }}</p>

            </div>

          </div>

          <div class="row mt-5">
            <div class="col-md-4">

              <div class="card p-3" style="min-height:350px; background: #fbfbfb">
                <img src="/assets/img/home-card-1.png" class="img-fluid border bg-white"/>
                <h6 class="mt-3"><b>{{ 'HOME.DASHBOARD_REPORT' | translate }}</b></h6>
                <div>{{ 'HOME.DASHBOARD_REPORT_1' | translate }} <a [routerLink]="['/dashboard']">{{ 'HOME.GO_TO' | translate }}  &raquo;</a></div>
              </div>
            </div>

            <div class="col-md-4">
              <div class="card p-3" style="min-height:350px; background: #fbfbfb">
                <img src="/assets/img/home-card-2.png" class="img-fluid border bg-white"/>
                <h6 class="mt-3"><b>{{ 'HOME.IMPO_EASY' | translate }}</b></h6>
                <div>{{ 'HOME.IMPO_EASY_1' | translate }}<a [routerLink]="['/preferences/api-keys']">{{ 'HOME.GO_TO' | translate }} &raquo;</a></div>
              </div>
            </div>

            <div class="col-md-4">
              <div class="card p-3" style="min-height:350px;  background: #fbfbfb">
                <img src="/assets/img/home-card-3.png" class="img-fluid border"/>
                <h6 class="mt-3"><b>{{ 'HOME.USO' | translate }}</b></h6>
                <div>{{ 'HOME.USO_1' | translate }} <a [routerLink]="['/tutorial/google']">{{ 'HOME.GO_TO' | translate }} &raquo;</a></div>
              </div>
            </div>
          </div>

        </div>
      </div>
    </div>
  </div>
</div>
