<div class="row">
  <div class="col-md-12 my-3">
    <div class="card-group">
      <div class="card p-2" style="background-color: #fff;">
        <div class="card-body">


          <img src="/assets/img/logo.png" class="img-fluid" style=""/>


          <div class="col-md mt-3 text-center">
              <p style="font-size: 1.2rem;" >Lorem ipsum dolor sit amet, consectetur adipiscing elit,
              sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
              Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi
              ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit
              in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
              </p>
          </div>

          <!--
          <div class="contact-info">
              <div class="miniCardHome">
                <i class="icon fas fa-envelope"></i>
                <div class="miniCardHome-content">
                    <h3>Email</h3>
                    <span>email@addres.com</span>
                </div>
              </div>

              <div class="miniCardHome">
                <i class="icon fas fa-phone"></i>
                <div class="miniCardHome-content">
                  <h3>Email</h3>
                  <span>email@addres.com</span>
                </div>
              </div>
          </div>
          -->

          <div class="card mb-3" style="max-width: 1000px;">
            <div class="row no-gutters">
              <div class="col-md-4">

                <div class="image middle">
                  <img src="/assets/img/im1.png">
                  <div class="image-content">
                    <div class="icons">
                      <a href="#" class="icon fas fa-heart"></a>
                    </div>
                  </div>
                </div>

              </div>
              <div class="col-md-8">
                <div class="card-body">
                  <h5 class="card-title">Card title</h5>
                  <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit,
                    sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                    Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi
                    ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit
                    in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</p>
                </div>
              </div>
            </div>
          </div>

          <div class="card mb-3" style="max-width: 1000px;">
            <div class="row no-gutters">
              <div class="col-md-4">

                <div class="image middle">
                  <img src="/assets/img/im2.png">
                  <div class="image-content">
                    <div class="icons">
                      <a href="#" class="icon fas fa-heart"></a>
                    </div>
                  </div>
                </div>

              </div>

              <div class="col-md-8">
                <div class="card-body">
                  <h5 class="card-title">Card title</h5>
                  <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit,
                    sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                    Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi
                    ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit
                    in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</p>
                </div>
              </div>

              <!--
              <div class="col-md-8">
                <div class="card-body">
                  <h5 class="card-title">Card title</h5>
                  <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                  <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
                </div>
              </div>
              -->
            </div>
          </div>

        </div>
      </div>
    </div>
  </div>
</div>


<ng-template #newVersion>
  <div class="modal-header">
    <h4 class="modal-title pull-left"><b>Nuovo aggiornamento!</b></h4>
    <button type="button" class="close pull-right" aria-label="Close" (click)="closeModal()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>

  <div class="modal-body">
    <p style="text-align: center"><img src="/assets/img/may_2020_version.png" width="40%" height="40%"></p>
    <p>Bentornato! <b>DoUtDes Beta</b> è stato aggiornato alla <b>versione 1.9.1</b>. Di seguito alcune delle novità
      introdotte:</p>

    <p style="margin-bottom:4px; padding-bottom:0px">- Arricchita l’offerta di grafici di Sito Web, Facebook e Instagram;</p>
    <p style="margin-bottom:4px; padding-bottom:0px">- Correzione del selettore di date delle dashboard;</p>
    <p style="margin-bottom:4px; padding-bottom:0px">- Aggiornamento grafico e introduzione della sezione “Guide d’uso”;</p>
    <p style="margin-bottom:4px; padding-bottom:0px">- Aggiornamento del tutorial “Instagram” e "Analytics";</p>
    <p style="margin-bottom:4px; padding-bottom:0px">- Risoluzione del caricamento infinito su dashboard senza dati;</p>
    <p>- Numerose correzioni di problemi e miglioramenti alle funzionalità.</p>

    <p>Se hai suggerimenti e consigli, ti chiediamo meno di un minuto per darci una <a href="https://tinyurl.com/indagine-doutdes" target="_blank">piccola mano.</a></p>

  </div>


  <div class="modal-footer">
    <button type="button" class="btn btn-success" (click)="closeModal()">Vai avanti</button>
  </div>
</ng-template>

