<div class="row rounded p-4 title-header">
  <div class="col-md-12 pl-0">
    <h2 class="my-auto pl-0">{{ 'TUTORIAL_FB.TITLE' | translate }}</h2>
  </div>
</div>
<div class="rounded my-3 col-lg-12 tutorial" style="border: 1px solid #ccc; background: #fff; padding:50px">
  <p>{{ 'TUTORIAL_FB.DESCRIZIONE' | translate }}<b> DoUtDes</b>. {{ 'TUTORIAL_FB.DESCRIZIONE_1' | translate }}<i>beta-tester</i>{{ 'TUTORIAL_FB.DESCRIZIONE_2' | translate }}</p>

  <p class="pt-5">{{ 'TUTORIAL_FB.STEP_1' | translate }}</p>
  <p><img src="/assets/img/tutorialFacebook/richiesta.png"  (click)="openModal(zooming, 'richiesta.png')" title="Click here to zoom"/></p>

  <p class="pt-5">{{ 'TUTORIAL_FB.STEP_2' | translate }}<b> {{ 'TUTORIAL_FB.STEP_2_AVANTI' | translate }}</b>:</p>
  <p><img src="/assets/img/tutorialFacebook/registrazione_dev.png"  (click)="openModal(zooming, 'registrazione_dev.png')" title="Click here to zoom"/></p>

  <p class="pt-5">{{ 'TUTORIAL_FB.STEP_3' | translate }}<b>{{ 'TUTORIAL_FB.STEP_3_TIT' | translate }}</b> {{ 'TUTORIAL_FB.STEP_3_CON' | translate }}</p>
  <p><img src="/assets/img/tutorialFacebook/scelta_tipo.png"  (click)="openModal(zooming, 'scelta_tipo.png')" title="Click here to zoom"/></p>

  <p class="pt-5">{{ 'TUTORIAL_FB.STEP_4' | translate }}<b> {{ 'TUTORIAL_FB.STEP_4_CONF' | translate }}</b>:</p>
  <p><img src="/assets/img/tutorialFacebook/conferma_richiesta.png"  (click)="openModal(zooming, 'conferma_richiesta.png')" title="Click here to zoom"/></p>

  <p class="pt-5">{{ 'TUTORIAL_FB.STEP_5' | translate }}<b> {{ 'TUTORIAL_FB.STEP_5_PREFERENZE' | translate }}</b> {{ 'TUTORIAL_FB.STEP_5_CONTINUE' | translate }}<b> {{ 'TUTORIAL_FB.STEP_5_TOFB' | translate }}</b>:</p>
  <p><img src="/assets/img/tutorialFacebook/chooseService.PNG"  (click)="openModal(zooming, 'chooseService.PNG')" title="Click here to zoom"/></p>

  <p class="pt-5">{{ 'TUTORIAL_FB.STEP_6' | translate }}<b> {{ 'TUTORIAL_FB.STEP_6_AUT' | translate }}</b>:</p>
  <p><img src="/assets/img/tutorialFacebook/auth.PNG"  (click)="openModal(zooming, 'auth.PNG')" title="Click here to zoom"/></p>

  <p class="pt-5">{{ 'TUTORIAL_FB.STEP_7' | translate }}(<b>{{ 'TUTORIAL_FB.STEP_7_CONT_1' | translate }}</b>) {{ 'TUTORIAL_FB.STEP_7_CONT_2' | translate }}<b> DoUtDes</b> {{ 'TUTORIAL_FB.STEP_7_CONT_3' | translate }} <b>Ok</b>:</p>
  <p><img src="/assets/img/tutorialFacebook/auth2.PNG"  (click)="openModal(zooming, 'auth2.PNG')" title="Click here to zoom"/></p>

  <p class="pt-5">{{ 'TUTORIAL_FB.STEP_8' | translate }}<b> DoUtDes</b>{{ 'TUTORIAL_FB.STEP_8_CONT' | translate }}</p>
  <p><img src="/assets/img/tutorialFacebook/fbDashboard.PNG"  (click)="openModal(zooming, 'fbDashboard.PNG')" title="Click here to zoom"/></p>

</div>
<ng-template #zooming>
  <div class="modal-body" style="text-align:center">
    <img src="/assets/img/tutorialFacebook/{{imgSrc}}" class="img-fluid" style="border: 1px solid #ccc;" />
  </div>
</ng-template>
