/* You can add global styles to this file, and also import other style files */
/*@import "../node_modules/@angular/material/prebuilt-themes/indigo-pink.css";*/

body {
  font-family: 'Poppins', sans-serif!important;
}

/* NAVBAR MENU */
nav ul {
  text-transform: uppercase;
  font-weight: 500;
  font-size: 20px;
  padding-left: 0;
  margin-bottom: 0;
  list-style: none;
  display: inline-flex;
}

nav nb-action {
  padding: 10px;
}

/*.user-picture {*/
  /*background-image: url("assets/images/user.png");*/
/*}*/
