<div class="row" style="padding-bottom: 30px">
  <ng-container *ngIf="chartArray$.length > 0; else noContent">
    <div *ngFor="let chart of chartArray$" class="col-xl-4 col-lg-6 pt-3 order-xl-1 order-lg-1">
      <app-card background="{{chart.color}}" icon="google" [dashChart]="chart"></app-card>
    </div>
  </ng-container>

  <ng-template #noContent>
    <h2 class="col-md-12">There are not charts yet! Start adding the first chart to the dashboard!</h2>
  </ng-template>

  <app-emptycard class="col-lg-6 col-xl-4 " [xlOrder]="3" [lgOrder]="5" [dashboard_data]="HARD_DASH_DATA"></app-emptycard>

</div>
