<div class="row rounded py-sm-4 title-header h-100">
  <div class="col-xl-4 col-md-4 col-sm-6 col-12 pl-0 d-sm-block d-none">
    <h2 class="my-auto float-left">Google Analytics</h2>
  </div> <!-- Title -->
  <div class="col-xl-8 col-md-8 col-sm-6 col-12 my-md-auto filter-div">
    <h5 class="d-inline-block d-sm-none mt-1">Filter</h5>
    <div class="btn-group float-right ml-lg-1 ml-sm-2 d-md-block d-none" dropdown>
      <button id="button-export" dropdownToggle type="button" class="btn dropdown-toggle icon-card"
              aria-controls="button-export"><span class="caret"><i class="fas fa-download"></i></span>
      </button>

      <ul id="dropdown-export" *dropdownMenu class="dropdown-menu dropdown-menu-right" role="menu"
          aria-labelledby="button-export">
        <li class="dropdown-item cursor-pointer" (click)="htmltoPDF()"><i class="fas fa-file-pdf mr-2"></i>Export as PDF</li>
      </ul>
    </div> <!-- PDF export -->
    <div class="btn-group float-right d-md-block d-none" dropdown>
      <button id="button-date-filter" dropdownToggle type="button" class="btn dropdown-toggle icon-card"
              aria-controls="dropdown-date-filter"><span class="caret">{{dateChoice}}</span>
      </button>

      <ul id="dropdown-date-filter" *dropdownMenu class="dropdown-menu dropdown-menu-right" role="menu"
          aria-labelledby="button-date-filter">
        <li class="dropdown-item" (click)="changeData(FILTER_DAYS.seven)">Last 7 days</li>
        <li class="dropdown-item" (click)="changeData(FILTER_DAYS.thirty)">Last 30 days</li>
        <li class="dropdown-item" (click)="changeData(FILTER_DAYS.ninety)">Last 90 days</li>
      </ul>
    </div> <!-- TODO Create a component custom like card -->
    <input type="text" class="form-control float-right mr-lg-1 mr-sm-2 filterDatePicker"
           [(ngModel)]="bsRangeValue"
           [minDate]="minDate"
           [maxDate]="maxDate"
           [bsConfig]="{ rangeInputFormat: 'DD/MM/YYYY', containerClass: 'theme-red' }"
           (bsValueChange)="onValueChange($event)"
           bsDaterangepicker> <!-- Date picker -->
  </div>
</div> <!-- Header -->
<div class="row px-3 pt-3">
  <div class="col-md-3 col-sm-3 col-6 pl-0 pr-2">
    <div class="card mb-0">
      <div class="card-body">
        <div class="row">
          <div class="col-md-8">
            <div class="text-value">87.500</div>
            <small class="text-muted text-uppercase font-weight-bold">Visitors</small>
          </div>
          <div class="h1 text-muted my-2 col-md-4">
            <i class="icon-people d-sm-block d-none"></i>
          </div>
        </div>
        <div class="progress progress-xs mt-3 mb-0">
          <div class="progress-bar bg-danger" role="progressbar" style="width: 25%" aria-valuenow="25" aria-valuemin="0"
               aria-valuemax="100"></div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-md-3 col-sm-3 col-6 pl-2 pr-sm-2 pr-0">
    <div class="card mb-0">
      <div class="card-body">
        <div class="row">
          <div class="col-md-8">
            <div class="text-value">385</div>
            <small class="text-muted text-uppercase font-weight-bold">New Clients</small>
          </div>
          <div class="h1 text-muted my-2 col-md-4">
            <i class="icon-user-follow d-sm-block d-none"></i>
          </div>
        </div>
        <div class="progress progress-xs mt-3 mb-0">
          <div class="progress-bar bg-danger" role="progressbar" style="width: 25%" aria-valuenow="25"
               aria-valuemin="0"
               aria-valuemax="100"></div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-md-3 col-sm-3 col-6 pl-sm-2 pl-0 pr-2 pt-sm-0 pt-3">
    <div class="card mb-0">
      <div class="card-body">
        <div class="row">
          <div class="col-md-8">
            <div class="text-value">28%</div>
            <small class="text-muted text-uppercase font-weight-bold">Ret. Visitors</small>
          </div>
          <div class="h1 text-muted my-2 col-md-4">
            <i class="icon-pie-chart d-sm-block d-none"></i>
          </div>
        </div>
        <div class="progress progress-xs mt-3 mb-0">
          <div class="progress-bar bg-danger" role="progressbar" style="width: 25%" aria-valuenow="25" aria-valuemin="0"
               aria-valuemax="100"></div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-md-3 col-sm-3 col-6 pl-2 pr-0 pt-sm-0 pt-3">
    <div class="card mb-0">
      <div class="card-body">
        <div class="row">
          <div class="col-md-8">
            <div class="text-value">5:34:11</div>
            <small class="text-muted text-uppercase font-weight-bold">Avg. Time</small>
          </div>
          <div class="h1 text-muted my-2 col-md-4">
            <i class="icon-speedometer d-sm-block d-none"></i>
          </div>
        </div>
        <div class="progress progress-xs mt-3 mb-0">
          <div class="progress-bar bg-danger" role="progressbar" style="width: 25%" aria-valuenow="25" aria-valuemin="0"
               aria-valuemax="100"></div>
        </div>
      </div>
    </div>
  </div>
</div> <!-- Info cards -->
<div class="row" style="padding-bottom: 30px">
  <ng-container *ngIf="chartArray$.length > 0">
    <div *ngFor="let chart of chartArray$" class="col-lg-6 pt-3 card-container">
      <app-card [dashChart]="chart"></app-card>
    </div>
  </ng-container>

  <ng-template *ngIf="!loading && chartArray$.length == 0">
    <h5 class="col-md-12 mt-3">The dashboard is empty. Start adding the first chart!</h5>
  </ng-template>

  <app-emptycard
    *ngIf="!loading" class="col-lg-6 col-xl-6" [dashboard_data]="HARD_DASH_DATA"
    [ngStyle]="{'padding-left': nChartEven() ? '15px' : '0.5rem', 'padding-right': nChartEven() ? '0.5rem' : '15px'}">
  </app-emptycard>

  <ngx-loading [show]="loading" [config]="config"></ngx-loading>
</div> <!-- Chart cards -->
