<main class="d-flex align-items-center">
  <div class="container">
    <h1 class="text-center">DoUtDes - Helping people since 2018</h1>
    <div class="row">
      <div class="col-md-12 mx-auto">
        <div class="card mx-4">
          <div class="card-body p-4">
            <h2>What we have supposed to do</h2>
            <ul>
              <li>Build a platform</li>
              <li>Serve sardinian's companies</li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</main>
