<div class="row rounded p-4 title-header">
  <div class="col-md-12 pl-0">
    <h2 class="my-auto pl-0">{{ 'TUTORIAL_GO.TITLE' | translate }}</h2>
  </div>
</div>
<div class="rounded my-3 col-lg-12 tutorial" style="border: 1px solid #ccc; background: #fff; padding:50px">
  <p>{{ 'TUTORIAL_GO.DESCRIZIONE' | translate }}<b> DoUtDes</b>. {{ 'TUTORIAL_GO.DESCRIZIONE_1' | translate }}</p>

  <p class="pt-5">{{ 'TUTORIAL_GO.STEP_1' | translate }}<b> {{ 'TUTORIAL_GO.PREFERENZE' | translate }}</b> {{ 'TUTORIAL_GO.STEP_1_CON' | translate }}<b> Login with Google</b>:</p>
  <p><img src="/assets/img/tutorialGoogle/chooseService.PNG"  (click)="openModal(zooming, 0)" title="Click here to zoom"/></p>

  <p class="pt-5">{{ 'TUTORIAL_GO.STEP_2' | translate }}"<b>{{ 'TUTORIAL_GO.STEP_2_CONT' | translate }}</b>"{{ 'TUTORIAL_GO.STEP_2_CONT_1' | translate }}"<b>{{ 'TUTORIAL_GO.STEP_2_CONT_2' | translate }}</b>"{{ 'TUTORIAL_GO.STEP_2_CONT_3' | translate }}"<b>{{ 'TUTORIAL_GO.STEP_2_CONT_4' | translate }}</b>":</p>
  <p><img src="/assets/img/tutorialGoogle/AutorizzazioneGoogle.png"  (click)="openModal(zooming, 4)" title="Click here to zoom"/></p>

  <p class="pt-5">{{ 'TUTORIAL_GO.STEP_3' | translate }}</p>
  <p><img src="/assets/img/tutorialGoogle/scegli_google.PNG"  (click)="openModal(zooming, 1)" title="Click here to zoom"/></p>

  <p class="pt-5">{{ 'TUTORIAL_GO.STEP_4' | translate }}<b> {{ 'TUTORIAL_GO.CONSENTI' | translate }}</b>:</p>
  <p><img src="/assets/img/tutorialGoogle/scegli_google_2.PNG"  (click)="openModal(zooming, 2)" title="Click here to zoom"/></p>

  <p class="pt-5">{{ 'TUTORIAL_GO.STEP_5' | translate }}<b> DoUtDes</b>{{ 'TUTORIAL_GO.STEP_5_CON' | translate }}</p>
  <p><img src="/assets/img/tutorialGoogle/gaDashboard.PNG"  (click)="openModal(zooming, 3)" title="Click here to zoom"/></p>
</div>
<ng-template #zooming>
  <div class="modal-body" style="text-align:center">
    <img src="/assets/img/tutorialGoogle/{{imgSrc}}" class="img-fluid" style="border: 1px solid #ccc;" />
  </div>
</ng-template>
