<div class="row rounded p-4 title-header h-100">
  <div class="col-md-12 pl-0">
    <h2 class="my-auto pl-0">Tutorial: importazione dati sito web</h2>
  </div>
</div>
<div class="rounded my-3 col-lg-12 tutorial" style="border: 1px solid #ccc; background: #fff; padding:50px">
  <p>In questa guida, è possibile trovare le istruzioni per importare la chiave API (token di accesso) di Google Analytics utile a configurare la dashboard personale del vostro sito web su <b>DoUtDes</b>.
    Inoltre è possibile cliccare su qualsiasi immagine per poterla ingrandire.</p>

  <p class="pt-5">1) Vai su <b>Preferenze</b> nella sidebar e clicca su <b>Login with Google</b>:</p>
  <p><img src="/assets/img/tutorialGoogle/chooseService.PNG"  (click)="openModal(zooming, 0)" title="Click here to zoom"/></p>

  <p class="pt-5">2) Apparirà un pop-up come nell'immagine sotto. Eseguite l'accesso con l'account Google associato al vostro sito web:</p>
  <p><img src="/assets/img/tutorialGoogle/scegli_google.PNG"  (click)="openModal(zooming, 1)" title="Click here to zoom"/></p>

  <p class="pt-5">3) Clicca sul bottone <b>Consenti</b>:</p>
  <p><img src="/assets/img/tutorialGoogle/scegli_google_2.PNG"  (click)="openModal(zooming, 2)" title="Click here to zoom"/></p>

  <p class="pt-5">4) Ottimo lavoro! Hai aggiunto il tuo token di Google Analytics su <b>DoUtDes</b>. Le statistiche relative al tuo sito web sono ora disponibili nella piattaforma!</p>
  <p><img src="/assets/img/tutorialGoogle/gaDashboard.PNG"  (click)="openModal(zooming, 3)" title="Click here to zoom"/></p>
</div>
<ng-template #zooming>
  <div class="modal-body" style="text-align:center">
    <img src="/assets/img/tutorialGoogle/{{imgSrc}}" class="img-fluid" style="border: 1px solid #ccc;" />
  </div>
</ng-template>
